[2013-06-03 06:10] madelynnblue opened #1 "Add "XML" to commonInitialisms"
Seems to fit into the style with HTML and URL there already.

[2013-06-03 06:12] madelynnblue opened #2 "Filenames on error"
When invoked from the command line like `golint *`, it would be useful to see names of the files that had the error. Lines 33 and 40 of golint.go could be changed to, for example:

`log.Printf("Failed reading file %v: %v", filename, err)`

[2013-06-03 06:20] #1 closed, assigned to dsymonds

[2013-06-03 06:21] #2 closed, assigned to dsymonds

[2013-06-03 08:43] guelfey opened #5 "Underscores in names of example functions"
Currently, golint complains about a function containing an underscore because the established style for function names is CamelCase. However, the example functions for the `testing` package sometimes need to have underscores in their names so they're displayed correctly by godoc. Is this worth fixing?

[2013-06-03 11:39] #5 closed, assigned to dsymonds

[2013-06-03 11:51] cznic opened #7 "Type inferrence flagged incorrectly"
[code]

[2013-06-03 12:01] AlekSi opened #8 "Accept packages as arguments"
It would be useful and consistent with other tools to allow to invoke golint like this:

[code]

[2013-06-03 13:42] #8 closed, assigned to nobody

[2013-06-07 11:43] mewmew opened #11 "Optional leading article for constant doc comments."
Would it be possible to relax the comment requirements for constants so they can also include an optional leading article.

Below is a simple example:

[code]

Running golint on `p` gives the following warnings:

[code]

[2013-06-07 12:32] #11 closed, assigned to nobody

[2013-06-19 19:25] jprichardson opened #13 "go fmt?"
This should be in the readme... but what's the difference between this and `go fmt`?

[2013-06-19 22:57] philpennock opened #14 "vim instructions fail for valid `$GOPATH`"
The `$GOPATH` variable is defined to be a platform list (ie, on Unix, something with colons in it), so the README instructions fail because the globpath() parameter is a supposed to be a vim string delimiting items with commas.

The closest I've gotten to correct is this:

[code]

Perhaps of use.

[2013-06-22 04:48] #13 closed, assigned to dsymonds

[2013-06-24 06:07] tgulacsi opened #15 "LastInsertId"
golint flags LastInsertId

godrv/driver.go:160:18: func LastInsertId should be LastInsertID

'though I have to implement database/sql/Result interface, which has LastInsertId.
Can I suppress this flag?

Thanks,
GThomas

[2013-06-24 06:11] #15 closed, assigned to nobody

[2013-06-25 05:12] #14 closed, assigned to dsymonds

[2013-07-08 14:32] deepakjois opened #17 "golint asks you to drop else block containing return, even when local vars are being used"
[code]

Running golint displays:

[code]

[2013-07-08 22:36] #17 closed, assigned to nobody

[2013-07-12 16:10] touilleMan opened #18 "go build fails"
Hi,
I just try to compile your projet, I get the following error :

[code]

I believe it's a trivial missing return that can be easily fixed :

[code]

[2013-07-12 22:08] #18 closed, assigned to nobody

[2013-07-24 10:54] vtolstov opened #19 "please provide emacs functions like gofmt does"
plese provide emacs hooks like golang provide for save

[2013-08-17 21:22] mairbek opened #20 "Boolean Expression Analysis"
Modern Java IDEs and Visual Studio can inspect the source code and indicate that boolean expression can be simplified.

It would be nice to see such feature for Go.

[2013-08-18 23:14] #20 closed, assigned to nobody

[2013-09-03 21:13] dgryski opened #22 "golint thinks "/*" contains a trailing space"
Running golint over code like:

[code]

generates the warning:

[code]

Changing it to

[code]

"solves" the problem but looks ugly.

Another workaround is to use

[code]

but neither of these are suggested.  Perhaps a better comment or check should be "Package comment should start with //"

[2013-09-03 23:35] #22 closed, assigned to nobody

[2013-09-08 07:27] #19 closed, assigned to nobody

[2013-10-12 10:11] dougfort opened #24 "unable to 'go get'"
dougfort@fog:~$ go get github.com/golang/lint/golint
# github.com/golang/lint

git/gospideroak/src/github.com/golang/lint/lint.go:883: function ends without a return statement
dougfort@fog:~$

[2013-10-12 10:13] #24 closed, assigned to nobody

[2013-10-14 19:20] dgryski opened #25 "const _invalidJson = "Invalid JSON""
[code]

The _ wasn't removed, and the JSON was capitalized.

A minor issue to be sure, but hey, report early report often ..

[2013-10-16 00:27] #25 closed, assigned to dsymonds

[2013-11-25 14:59] thejerf opened #27 "Flag using a package name as a variable name"
I've now been bitten by this about four times in the last couple of weeks; importing a package "package/noun", and then ending up with code that looks something like:

[code]

which fails with a semi-bizarre error message about how DefaultNoun is undefined because type noun.Noun has no field or method DefaultNoun. Careful reading of the error message shows it is correct, but it is surprising.

[2013-11-25 21:35] #27 closed, assigned to nobody

[2013-12-03 03:30] longbai opened #29 "Could you supply feature of checking huge function or huge file"
function lines number > n(maybe 50) or single file lines > n(maybe 500) are bad smell, could you check this?

[2013-12-03 03:31] #29 closed, assigned to nobody

[2013-12-30 00:06] ChimeraCoder opened #32 "Unexported capitalized constant is considered ALL_CAPS instead of CamelCase"
The `_POST` declaration in the following snippet  gives me the error `twitter.go:55:2: don't use ALL_CAPS in Go names; use CamelCase`

[code]

Full code: https://github.com/ChimeraCoder/anaconda/blob/master/twitter.go#L53-L57

(Interestingly, `_GET` does not return an error, though it does if I add any characters to the name - I guess it is special-cased somehow).

I feel that this style (a capita

[2014-01-01 21:36] #32 closed, assigned to nobody

[2014-02-10 23:38] mewmew opened #36 "Whitelist capitalized error strings if they are used in a method and begin with the receiver type name."
Some error messages use the following prefix `T.M: error message` where `T` refers to the receiver type of a method `M`. Below are some examples from the standard library:

`math/big/int.go:507:21: error strings should not be capitalized`

[code]

`math/big/rat.go:414:21: error strings should not be capitalized`

[code]

`time/time.go:853:27: error strings should not be capitalized`

[code]

What

[2014-02-11 00:09] #36 closed, assigned to nobody

[2014-04-13 20:57] jyaunches opened #37 "Usage examples?"
Hi there. I'm new to Go and am trying to run go lint on a program I'm writing. I'd like clarification on the usage of this library from the command-line.

I've verified the installation went to the directory: go/src/github.com/golang/lint

If I'm in the directory of the code I'm working on (/go/src/github.com/jyaunches/my_program), should I be able to run lint with:

??

When I do this, I get:

I'

[2014-04-13 21:54] #37 closed, assigned to nobody

[2014-04-22 19:15] jimmyfrasche opened #38 "Exported Interface method docs should follow same rules as other exported identifiers"
Given

[code]

I would expect

[code]

Currently no warning is emitted.

[2014-04-22 23:49] #38 closed, assigned to nobody

[2014-04-30 01:08] xaprb opened #41 "Complain when log messages are capitalized"
I'd like to suggest that log messages should be lowercase similar to error messages, e.g.

[code]

should probably be lowercased.

[2014-04-30 01:11] #41 closed, assigned to nobody

[2014-06-11 21:32] martint17r opened #43 "golint should accept package names"
I would expect golint to also accept package names as arguments, like all the vanilla go test/vet tools do. Files and directories should be accepted as well (just like it is right now).

For example `golint ./...` should check the current package and all packages below.

[2014-06-26 16:56] josharian opened #45 "Add a check for boolean expressions containing pointless/overriding connectives"
I originally prepared a `go vet` check for this, but came to the conclusion that it was a better fit for `go lint`. I'm opening this issue as a place to stash the idea + tested go vet code until such time as I (or someone else) adapts it.

Running this check over a recent corpus of public code caught this distribution of ugliness:

[code]

Test cases:

[code]

Excerpted `vet` check:

[code]

Note

[2014-07-01 05:16] #45 closed, assigned to dsymonds

[2014-07-13 23:20] dgryski opened #46 "broken error message for "don't use leading k in Go names""
Running golint on

[code]

now gives the error message

[code]

instead of the expected "don't use leading k in Go names"

git bisect tells me the error was introduced in 74301784eaaae8889af2087f94d1bff7c8e999d4 , introducing lint problem categorization.

Note that testdata/names.go fails with a similar error

[code]

[2014-07-13 23:55] #46 closed, assigned to dsymonds

[2014-07-25 18:15] btracey opened #47 "Allow underscores in variable names between numbers"
One reason to have an underscore in a variable name is to simulate a decimal in a number, for example

case3_1

Golint suggests a correction to case31 which does not have the same feel. One could argue about the merits of case3_1 as a variable name, but in any event the correction should not be to elide the underscore.

[2014-07-25 18:19] btracey opened #48 "Change recommendation for stuttering "test""
I have a function
TestMulti(t *testing.T)
in package test

golint says:  "func name will be used as test.TestMulti by other packages, and that stutters; consider calling this Multi"

With that signature, the TestMulti function is clearly there to be able to be used by go test. I'm not exactly sure what the recommendation should be (tests should live in the same package as the function they're test

[2014-07-25 23:50] #48 closed, assigned to nobody

[2014-07-28 20:04] haoxian-zhao opened #50 "are we going to support integration with github.atom editor?"

[2014-07-31 04:14] ngdinhtoan opened #51 "Can not reach github.com/golang/lint/golint"
URL github.com/golang/lint/golint isn't exist anymore, so that I can not use go get to install golint.

[2014-07-31 04:28] #51 closed, assigned to nobody

[2014-07-31 22:46] mariokostelac opened #52 ":Lint command doesn't work for me"
It seems that vim setup documentation should be updated. Running **:Lint** produces error, while running **:GoLint** does the thing.

[2014-08-01 00:14] #52 closed, assigned to nobody

[2014-08-02 01:49] elgris opened #53 "Lint does not complain about ignored values, returned from function call"
Hello!

I'm just wondering if it's valid for Go code to totally ignore values returned from some func.

Example:

[code]

Test case is prepared in commit https://github.com/elgris/lint/commit/6541f24d3a60caf4d0256be3a714d73806ea36ea

Cheers!

[2014-08-02 02:09] #53 closed, assigned to nobody

[2014-08-30 19:45] clausecker opened #56 "Go lint should not flag underscores between numbers"
Right now, the linter flags symbols like `AutoISO14443_4` as not conforming to the Go naming conventions and suggests removing the underscore. I expect that removing an underscore between numbers is almost never a good suggestion as the underscore usually separates different numbers from one another. I request the linter to not issue a warning for such occurances of underscores.

[2014-09-01 06:13] #56 closed, assigned to nobody

[2014-09-01 08:29] GeertJohan opened #57 "Invalid "undeclared name" errors"
Hi,
Since the last commit  (54857dac8c00cd548ca78caa5b7f8344aaf63bee) golint fails with a lot of "undeclared name: someIdentifier" errors.

Some examples:

[code]

I'm running `golint *.go`, but have also tried `golint ./`; same results.
All the errors seem to be about package-wide globals defined in files other than the one being linted.

Is this a problem in golint, or am I using golint the wron

[2014-09-01 08:48] #57 closed, assigned to dsymonds

[2014-09-02 01:19] #7 closed, assigned to dsymonds

[2014-09-02 05:22] #43 closed, assigned to dsymonds

[2014-09-02 05:28] #50 closed, assigned to nobody

[2014-09-02 18:42] pierrre opened #58 "recursive directory broken"
I used to run golint on a directory and subdirectories with `golint .`.
Currently, it only lints the current directory.

I also tried to run `golint ./...` but I get:

[code]

[2014-09-08 02:40] nathany opened #61 "should omit type uint32"
This is technically incorrect, as type inference assumes int.

This is similar to #7.

The line in question is this ugly bit of code:

[code]

Note: I updated to latest to confirm that this is still an issue, ae65d273b9f43866a987aed78633d2c9ff1966ce.

[2014-09-10 04:57] natebrennand opened #63 "recent changes cause golint to panic"
ff22a87853f94b14ea6a6d7cba80458b1ea374ca causes golint to panic during execution. I tried removing the changes to `lint.go` in this commit and then golint was able to properly execute without panicking.

Panic output:

[code]

Source: https://travis-ci.org/natebrennand/twiliogo/builds/34879381

[2014-09-10 15:46] hydrogen18 opened #64 "Golint crashes with a large number of input files"
I tried to use `find` and `xargs` with golint but it crashes. If I pass `-L 1` to `xargs` it runs just fine.

ericu@ericu-trusty-ubuntu:~/rtb/src/spiceworks.com/rtb$ find . -type f -name '*.go' | xargs  golint
panic: runtime error: invalid memory address or nil pointer dereference
[signal 0xb code=0x1 addr=0x58 pc=0x50e064]

goroutine 16 [running]:
runtime.panic(0x657b80, 0x7d76d3)
    /home/ericu

[2014-09-12 03:51] tsuna opened #65 "golint doesn't return non-zero when it finds lint"
Trying to make my build fail when golint finds lint, but that's kind of annoying to do right now with golint because it always exits 0.

[2014-09-15 02:27] #64 closed, assigned to nobody

[2014-09-15 02:41] #63 closed, assigned to dsymonds

[2014-09-16 12:15] tuxcanfly opened #68 "lint test packages"
I know there's a TODO item for this

https://github.com/golang/lint/blob/master/golint/golint.go#L116

but after the switch to package mode, it's hard to lint the whole package at one go if tests include both `pkg` and `pkg_test` without seeing `X is in package pkg, not pkg_test`, so IMO this is more of a necessity now.

[2014-09-16 16:05] mrmurphy opened #69 "`go get` fails"
Hey there! I hope I'm not just being stupid here.
`go version`:
`go version go1.2.2 darwin/amd64`

Running on Yosemite public beta 3.
The results of `go get github.com/golang/lint/golint` are:

[code]

---

EDIT

Looks like it might be an issue with my gopath. Hang on.

---

EDIT

Yep, it was a problem with my GOPATH. I had multiple paths in my gopath, including company tools with a package called

[2014-09-16 16:10] #69 closed, assigned to nobody

[2014-09-16 22:36] #61 closed, assigned to dsymonds

[2014-09-19 09:56] pierrre opened #70 "Does not compile with go.tools 1.3 branch"
Golint does not compile if I use go.tools repository 1.3 branch:

[code]

It's a problem, because if you use Go 1.3, godoc requires go.tools 1.3 branch:
https://code.google.com/p/go/issues/detail?id=8769

[2014-09-20 06:56] #70 closed, assigned to nobody

[2014-10-02 13:47] zimmski opened #78 "Zero length/capacity makes"
Is it possible that checks for the following constructs should be added to lintMake?
- x := make([]T, 0, 0)
- var x = make([]T, 0)
- var x = make([]T, 0, 0)

Or are they intentionally left out?

[2014-10-03 02:18] tfarina opened #79 "golint does not identify imports that start with _"
One example is here: https://skia.googlesource.com/buildbot/+/master/perf/go/db/db.go

golint says:

perf/go/db/db.go:8:2: a blank import should be only in a main or test package, or have a comment justifying it
perf/go/db/db.go:10:2: a blank import should be only in a main or test package, or have a comment justifying it

[2014-10-03 03:34] #79 closed, assigned to nobody

[2014-10-03 05:15] #58 closed, assigned to dsymonds

[2014-10-03 05:33] #47 closed, assigned to nobody

[2014-10-03 23:09] #78 closed, assigned to nobody

[2014-10-04 15:46] robb1e opened #80 "Failed install"
Hi, I just tried doing a `go get github.com/golang/lint/golint` and got the following output on `go version go1.1.1 darwin/386`

[code]

[2014-10-05 00:04] tfarina opened #81 "how to configure vim?"
Hi,

I have this in my ~/.vimrc:

 filetype plugin indent on
 set rtp+=~/golib/src/github.com/golang/lint/misc/vim

But when I run ':Lint' in a go file vim says:
E492: Not an editor command: Lint

What am I missing?

Thanks!

[2014-10-05 02:25] #80 closed, assigned to nobody

[2014-10-20 12:23] sbinet opened #82 "golint + gorename interoperability"
`golint` could have a flag to output suggestions in a format that `gorename` understands. ie:

[code]

(format of the ASCII file is of course just an example)

alternatively, `golint` could have a mode to apply directly the changes but that seems a bit against the "suggestions" spirit of `golint`.

what do you think ?

[2014-10-20 22:02] phst opened #83 "Emacs mode: file name should be quoted"
In golint.el, please replace `concat "golint " buffer-file-name` with `combine-and-quote-strings (list "golint" buffer-file-name)` to allow file names that need quoting.

[2014-10-21 23:14] #82 closed, assigned to nobody

[2014-12-09 01:41] Mattieuga opened #88 "Update path for golang imports"
Golint doesn't compile since golang changed repo.

[2014-12-10 06:04] stevvooe opened #89 "Remove or relax rule for "struct field Id should be ID""
The use of "ID" rather than "Id" breaks the rule about abbreviations vs initialisms. "ID" is an initialism for "Identifying Documents", whereas "Id" is an abbreviation for "identifier". Typically, in software engineering, we are referring to the latter.

I understand that in Google and with a lot of Go code, the use of "ID" is considered the correct style. However, there are cases where code canno

[2014-12-10 06:22] #89 closed, assigned to nobody

[2014-12-23 16:06] daniel-garcia opened #90 "proposal: ability to configure ignores"
I work with some code bases that have auto-generated code (eg with go-bindata). These generated files do not produce golint passing code. I'd like the ability to create a .golintignore file in these packages so that golint will ignore them. A more generic configuration file to disable/suppress specific warnings on a package or file level would also suffice.

Thoughts?

[2014-12-23 20:37] #90 closed, assigned to nobody

[2014-12-30 18:53] mariash opened #92 "lint.go:1401: assignment count mismatch: 3 = 2"
Hi,

Running `go get github.com/golang/lint/golint` currently fails with the following error:

[code]

Thanks

[2014-12-30 21:09] #92 closed, assigned to nobody

[2015-01-05 00:00] Alexey-T opened #93 "cannot make "lint.go""
Go1.4/Win64.

    C:\Go\src\github.com\golang\lint>go build lint.go
    # command-line-arguments
    .\lint.go:1401: assignment count mismatch: 2 = 3
    C:\Go\src\github.com\golang\lint>

cannot make.

[2015-01-05 00:23] dsymonds commented on #93
You probably need to update your x/tools repo:
[code]

[2015-01-05 00:23] #93 closed

[2015-01-05 00:24] #88 closed

[2015-01-05 00:51] Alexey-T commented on #93
updated (both x/tools and golang/lint). now:

    C:\Go\src\github.com\golang\lint\golint>go build golint.go
    # command-line-arguments
    .\golint.go:44: undefined: allPackagesInFS
    .\golint.go:52: undefined: importPaths

[2015-01-05 01:49] dsymonds commented on #93
Don't use a list of filenames with `go build`. You've skipped the `import.go` file. Just run `go build`.

[2015-01-05 02:07] Alexey-T commented on #93
Tks David :]

[2015-01-05 03:19] Alexey-T opened #94 "how to see all errs in output list?"
i made err file

    func f(2__) {{{{ // ok
    }

now golint shows this:

    er.go:7:8: expected type, found 'INT' 2 (and 6 more errors)

how to see all 7 errs?
(not 1 error)

[2015-01-05 03:20] dsymonds commented on #94
That's an error coming from the Go parser. `Golint`assumes you have a well-formed Go source file. You could try running `gofmt` on the source file to get the full list of parse errors.

[2015-01-05 03:20] #94 closed

[2015-01-05 03:21] Alexey-T commented on #94
and u cannot "fix" it?

[2015-01-05 03:22] dsymonds commented on #94
No, `golint` is in the business of pointing out style issues with your code, not dealing with completely broken code that won't even compile.

[2015-01-05 11:01] oryband commented on #81
@tfarina I recommend to use syntastic, a syntax checker plugin common among vim users. I has built in `golint` support. Should make your life easier.

https://github.com/scrooloose/syntastic

[2015-01-05 11:01] oryband commented on #81
@dsymonds perhaps you should reference syntastic in the docs.

[2015-01-06 18:34] brunoqc opened #95 "Detect defer in loop"
Would it be possible for the lint to detect defers misused in loops?

[2015-01-06 21:58] dsymonds commented on #95
That's more of a govet thing, which is somewhat already supported there (its `-rangeloops` option covers what I assume you are referring to).

[2015-01-06 21:58] #95 closed

[2015-01-06 21:58] #81 closed

[2015-01-08 18:40] dfuentes opened #96 "Go get fails when getting golang.org/x/tools/go/types"
Go get is currently giving me errors related to golang.org/x/tools:

[code]

[2015-01-08 18:51] rgarcia commented on #96
It looks like a recent commit started using a go 1.4 syntax feature https://github.com/golang/tools/commit/44ee65f5451d813b9795358b974e5798777f9e21#diff-c6c87a65a521b8a45c0bb52d2c358809R140

[2015-01-08 20:11] dsymonds commented on #96
I've asked for that particular change to be rolled back (https://go-review.googlesource.com/2390). Let's see how that goes. You'll need to update to Go 1.4 eventually, but hopefully not today.

[2015-01-08 20:31] dsymonds commented on #96
Run `go get -u golang.org/x/tools/go/types` now and you should pick up golang/tools@4fbaee5, which makes that package compile with Go 1.3 again.

[2015-01-08 20:31] #96 closed

[2015-01-08 20:39] dfuentes commented on #96
Thanks

[2015-01-13 10:22] ixos opened #97 "Golint build error - go version 1.4"
[root@dev /usr/src/go/src/github.com/golang/lint] go version
go version go1.4 linux/amd64

[root@dev /usr/src/go/src/github.com/golang/lint] go build
./lint.go:1423: assignment count mismatch: 2 = 3
[root@dev /usr/src/go/src/github.com/golang/lint] git diff
diff --git a/lint.go b/lint.go
index dc58a45..713bcbc 100644
--- a/lint.go
+++ b/lint.go
@@ -1420,11 +1420,11 @@ func (f *file) isUntypedConst

[2015-01-13 10:24] dsymonds commented on #97
You probably have an old version of a dependent package. Try running `go get -u golang.org/x/tools`.

[2015-01-13 10:24] #97 closed

[2015-01-13 10:27] ixos commented on #97
yes, sorry, stuipid mistake :/

[2015-01-13 20:23] drewwells opened #98 "blacklist of files"
There's currently no way to exclude certain files from linting rules ie. lint `a.go` `b.go`, but skip `c.go`.

I tried getting around this by using `go list`, only to find that `golint pkgA/file pkgB/file` throws errors about mismatched packages. A filter similar to `go test -run` would very helpful for transitioning to the use of golint.

[2015-01-13 20:25] dsymonds commented on #98
Just use grep to filter the output if that's what you want. Golint does not force you to address every thing it flags (there will be false positives).

[2015-01-13 20:25] #98 closed

[2015-01-13 20:29] drewwells commented on #98
Grep will always return exit 0. Is golint always going to return 0?

[2015-01-13 20:32] dsymonds commented on #98
Most likely, though it's trivial enough to run (golint ... || true) to make sure.

[2015-01-13 20:46] drewwells commented on #98
We'd like our CI to fail on linting errors, grep masks that.

[2015-01-13 20:57] dsymonds commented on #98
That's not what golint is for. It does not produce errors, only
suggestions. Please read the README.

[2015-01-14 14:03] zimmski commented on #98
@drewwells: Static analysis tools like golint always produce suggestions. There can be a lot of false positives in there and there is often no way to flag them. However, I too like my CI to fail because I often forget to run all tools myself. You can have a look at the linting section here https://github.com/zimmski/tavor/blob/master/.travis.yml to get an idea on how you can accomplish the same.

[2015-01-14 15:05] drewwells commented on #98
That's a good idea, thanks! We can whitelist lint suggestions that we
definitely want to fail on.

On Wednesday, January 14, 2015, Markus Zimmermann <notifications@github.com>
wrote:

[2015-01-19 06:40] ggilder opened #99 "Can't install golint from current master (f8aef8e)"
I get the following error under Go 1.4, Mac OS X.

[code]

[2015-01-19 06:42] dsymonds commented on #99
Update your go.tools checkout. It is probably stale.

`go get -u golang.org/x/tools`

[2015-01-19 06:46] ggilder commented on #99
Right you are, thank you!

[2015-01-19 06:46] #99 closed

[2015-01-19 10:04] zimmski commented on #99
@dsymonds: I feel this issue is reported every week. Do you see a way to automate the update of /x/tools?

[2015-01-19 11:10] dsymonds commented on #99
Unfortunately I don't think there is. This is an artifact of how the `go` tool works; if a package's API changes and a dependant package changes accordingly then you'll need to either have the old version of both or the new version of both.

[2015-01-19 11:10] dsymonds commented on #99
I've added a `CONTRIBUTING.md` file to this repo to hopefully head people off.

[2015-01-27 13:22] exu opened #102 "Installation on Go 1.4"
Installation with:
[code]
on go 1.4 fails with message
[code]

my `go version`

[code]

[2015-01-27 13:25] exu commented on #102
it looks like problem after go update from 1.3 to 1.4 on my  machine

[2015-01-27 13:25] #102 closed

[2015-01-27 17:59] bprosnitz opened #103 "Assignment count mismatch failure on go get"
go get github.com/golang/lint/golint
# github.com/golang/lint
../../go/src/github.com/golang/lint/lint.go:1432: assignment count mismatch: 2 = 3

[2015-01-27 18:23] zimmski commented on #103
Solution: `go get -u golang.org/x/tools`
Duplicates 99 97 93 92

[2015-01-27 20:42] dsymonds commented on #103
This is also mentioned in the "guidelines for contributing" that was prominently displayed when you were filing this issue. Unfortunately I can't change that link text to make it clear that you should read it before filing issues too.

[2015-01-27 20:42] #103 closed

[2015-01-27 22:15] phylake commented on #65
I'd like a useful exit code as well - for my git pre-commit hook

[2015-01-27 22:20] dsymonds commented on #65
Don't use golint in a git pre-commit hook. You'll be awfully grumpy when it starts finding false positives in existing code.

[2015-01-27 22:38] phylake commented on #65
Actually I'm grumpy that your response to 2 requests for a non-zero exit code is "don't do the thing you're trying to do". How about this: do you have a good reason _not_ to add a non-zero exit code?

[2015-01-28 03:33] bprosnitz commented on #103
Would it be useful to add this to the install instructions?

On Tue Jan 27 2015 at 12:42:22 PM David Symonds <notifications@github.com>
wrote:

[2015-01-28 03:39] dsymonds commented on #103
I don't know. It's not a problem if it's the first time you're getting the golang.org/x/tools repo (since you'll get the latest version), and I'm loathe to suggest always updating it since you could run into problems in the other direction (other packages depending on some older version). Right now I think people installing this from source just need to know what they're doing somewhat.

[2015-01-28 16:57] wiless opened #105 "assignment count mismatch: 2 = 3"
Was trying out `go get` based on the instructions. Got this error on the shell

[code]

Running Kubuntu, 14.10 and go1.4 (64bit)
Thanks

[2015-01-28 17:01] zimmski commented on #105
Solution: `go get -u golang.org/x/tools`
Duplicates 103 99 97 93 92
@dsymonds: Since @wiless tried the README instructions this PR  #104 would help.

[2015-01-28 19:11] wiless commented on #105
@dsymonds Thanks, it works.

[2015-01-28 19:11] #105 closed

[2015-02-01 23:22] SchumacherFM opened #107 "./lint.go:1432: assignment count mismatch: 2 = 3"
[code]

[2015-02-01 23:24] dsymonds commented on #107
Please check the README or CONTRIBUTING.md files. You probably have an out-of-date dependency.

[2015-02-01 23:24] #107 closed

[2015-02-01 23:44] SchumacherFM commented on #107
Sorry :-( It's now fixed :-)

[2015-02-19 16:55] bkeroack opened #108 "go get install fails"
[code]

or:

[code]

This is with go 1.4.2 installed via Homebrew on OS X 10.10.

Any ideas?

[2015-02-19 17:33] zimmski commented on #108
Could you remove "/Users/bk/Development/go/src/golang.org/x/tools" and then try `go get -u github.com/golang/lint/golint` again?

[2015-02-19 20:21] dsymonds commented on #108
Yes, you have `golang.org/x/tools` from its old path. You need to delete your copy of it, and re-fetch it.

[2015-02-19 20:21] #108 closed

[2015-02-24 12:05] dgryski opened #109 "golint isn't aware that underscores might be used to prevent matching a keyword"
I ran golint over the newly converted compiler and it reported:

[code]
etc.

[2015-02-24 20:36] dsymonds commented on #109
That's true, but we hardly expect well-styled Go code from a program. I fully expect those names to be given better names at some point. I don't think golint needs to have any special knowledge for them.

[2015-02-24 20:36] #109 closed

[2015-02-26 00:08] cespare opened #110 "Flag Tcp?"
Is it OK to flag Tcp (should be TCP)? Happy to send a pull request over.

[2015-02-26 07:28] dsymonds commented on #110
Golint does not have an exhaustive list of initialisms to flag. It's not going to get them all, nor is it always going to be right. I don't think we need to chase down every single one; use human judgment instead.

[2015-02-26 08:00] cespare commented on #110
Yeah I understand the desire to not maintain an ever-expanding list. It does seem like TCP/UDP are common initialisms that are missing from among similar networking-related terms: DNS, IP, HTTP, URI. Also TCP/UDP both fit the criterion of not being likely to be false positives.

[2015-02-26 22:37] dsymonds commented on #110
That's fair enough. It's easier for me to do small ones, so I'll take care
of it.

[2015-02-26 23:07] #110 closed

[2015-02-26 23:08] cespare commented on #110
Thanks!

[2015-03-03 11:04] nlamirault opened #111 "Melpa stable"
could you please create a tag to use this package using melpa stable [1].
Thanks

[1] : http://stable.melpa.org/

[2015-03-03 11:14] dsymonds commented on #111
I don't know what that is, nor am I an Emacs user.

Generally the master branch of this repo should be considered stable.

[2015-03-11 15:12] leitwolf opened #112 "error when install"
go install github.com/golang/lint/golint
\# github.com/golang/lint
<path>/src/github.com/golang/lint/lint.go:1434: assignment count mismatch: 2 = 3

go version:1.4.2
system:mac x 10.10

[2015-03-11 22:00] dsymonds commented on #112
Use `go get -u github.com/golang/lint/golint`. You have an out of date dependency.

[2015-03-11 22:00] #112 closed

[2015-04-02 20:45] grep0 opened #114 "NOLINT comment to disable lint locally"
Feature request (borrowed from cpplint): add `// NOLINT` comment to mute lint message in a line with such comment.

[2015-04-02 20:47] dsymonds commented on #114
Nope, not interested. Please review the README for this repo.

[2015-04-02 20:47] #114 closed

[2015-04-08 16:33] abronan opened #116 "Golint panic due to latest changes"
It seems to be related to the latest commit (23587b4bcbd24e87e3de4d19dfadb947df6fc2ed).

Output:

[code]

Source: https://travis-ci.org/docker/swarm/builds/57624740

[2015-04-08 18:51] pguelpa commented on #116
:+1: - we're seeing this on our repository as well

[2015-04-08 19:12] pguelpa commented on #116
To add a little more detail, we only seem to see this while running our tests inside the `google/golang:1.3`

[2015-04-08 19:51] cmdrkeene commented on #116
:+1: seeing this as well

[2015-04-08 20:00] abronan commented on #116
@pguelpa Yes, it seems to be our case as well.

[2015-04-08 21:53] #116 closed

[2015-04-10 06:27] dunty opened #117 "lack of detection of local variable and global variable using same name"
for example:

[code]

this code will produce a panic because c in Returnresult is a nil pointer.

[2015-04-10 06:30] dsymonds commented on #117
It happens, but you learn to avoid it, and typically discover it easily enough. Golint isn't the right tool to detect that anyway. Govet has a `-shadow` flag that is awfully noisy but I believe would spot something like this.

[2015-04-10 06:30] #117 closed

[2015-04-10 06:31] dsymonds commented on #111
Closing due to lack of activity. If you know what needs to be done, go ahead and do it or contribute a change to this repo, but I don't think anyone else knows anything about that.

[2015-04-10 06:31] #111 closed

[2015-04-10 06:32] dsymonds commented on #83
Send a pull request if you want.

[2015-04-10 06:32] #83 closed

[2015-04-12 15:07] pyk opened #118 "go get error"
Based on instruction
[code]
Return error like the following
[code]
another try
[code]
Error again
[code]

my go is

[code]

[2015-04-12 19:40] zimmski commented on #118
Delete your whole `golang.org/x/tools` folder and do a `go get -u github.com/golang/lint/golint` again. You have `golang.org/x/tools` from its old path.

[2015-04-12 22:48] dsymonds commented on #118
Yep. As @zimmski said.

[2015-04-12 22:48] #118 closed

[2015-04-13 14:07] pyk commented on #118
@zimmski @dsymonds thanks it works now

[2015-05-17 14:36] ydnar opened #124 "ID vs Id"
On https://github.com/golang/lint/blob/master/lint.go#L706, golint warns for fields named `...Id` and suggests renaming to `...ID`:

`example/client.go:12:2: struct field ClientId should be ClientID`

In code, `id` is typically used an abbreviation for “identifier,” rather than an acronym. The Go standard library is inconsistent here, using both `ID` and `Id`. Should golint tolerate this, or sugge

[2015-05-17 21:22] dsymonds commented on #124
The standard library is unable to be changed now, but its uses of `Id` are largely in error. `ID` is the correct style, just like `HTTP` and `URL` are.

[2015-05-17 21:22] #124 closed

[2015-05-18 20:08] ydnar commented on #124
@dsymonds HTTP is an acronym. “id” is an abbreviation.

[2015-05-18 23:24] dsymonds commented on #124
The check is for initialisms, not acronyms; in this sense, the style is to follow how you'd write it in prose, which is `ID` or `HTTP`.

[2015-05-19 00:11] pconerly opened #126 "How do I get verbose warnings when I run golint?"
When I run golint, I'm just getting the file names, line numbers, and a brief message.
[code]
I see that the code adds url descriptions to the warnings: https://github.com/golang/lint/blob/dea130113ab8ebacb52dbce09c9a4c92951afdca/lint.go#L533

How do I get golint to print those out with the urls?  It would have been much nicer to have a link to this immediately: https://github.com/golang/go/wiki/C

[2015-05-19 00:44] dsymonds commented on #126
Golint is built as a library, and the golint command is a relatively simple wrapper around that. You can fork that command and fully customise the output format, or integrate the library into some completely separate system and render links appropriately (e.g. with HTML styling).

[2015-05-19 00:44] #126 closed

[2015-05-27 19:49] extemporalgenome opened #127 "Report needless []byte -> string conversion for Printf arguments"
I frequently encounter code like the following in the wild:

    var buf []byte
    // ...
    fmt.Printf("%s\n", string(buf))

Since the %s and %q format specifiers treat []byte and string identically, there's no reason for the pointless conversion to string.

[2015-05-27 23:20] dsymonds commented on #127
Maybe, though something like this might be more in line with govet's scope, which does a bunch of other format string checking.

[2015-05-27 23:22] extemporalgenome commented on #127
Yeah, I was wondering about that too. Strictly speaking, it's not a matter of correctness, since the output/behavior does not change in either case, yet it's completely redundant, thus not quite in the realm of style.

[2015-05-28 00:15] dsymonds commented on #127
I think I'll err on the conservative side and say "no". Thanks anyway.

[2015-05-28 00:15] #127 closed

[2015-05-28 07:08] zimmski commented on #127
This checks for redundancy. For me this is like the check for "should omit 2nd value from range; this loop is equivalent to `for i := range ...`" which is part of golint.

@extemporalgenome if you want to implement this in vet have a look at https://github.com/golang/tools/blob/master/cmd/vet/print.go and post your plan in the golang-dev mailing list.

[2015-05-30 10:21] buro9 commented on #68
Ah, I came to add the same issue as per https://blog.golang.org/examples .

It would be great if `pkg_test` is ignored if the package we're in is called `pkg`, and it looks like #76 does this. Would be great if that were merged.

[2015-06-04 13:44] jgroeneveld commented on #17
This is actually a nice pattern to retrieve a value, evaluate the error, return on error or assign the value if there is no error while protecting the namespace.

I see why this is rule exists in the usual cases but when using a local var I was surprised that golint is reporting it.

[code]

[2015-06-12 18:36] jriquelme commented on #17
Same opinion as @jgroeneveld here, I have many complains of golink for things like:

[code]

I prefer this form for this particular case (doesn't pollute the scope with "temporary" variables).

[2015-06-12 18:38] dsymonds commented on #17
The point of a common style is that it overrides personal preference.

[2015-06-12 23:44] TGiFallen opened #129 "Go Get fails with Missing type "EvalNode""
``` go version ```
``` go1.4.2 windows/amd64 ```
The error I receive upon trying to install golint is

``` golang\lint\lint.go:1483: undefined type: types.EvalNode ```

So it seems that go is refusing to download go types, even though it's mentioned in the import. I have tried to manually install it but I probably did that wrong. My GOPATH is set up correctly (I think, GOPATH = C:\Home\Programming

[2015-06-12 23:48] TGiFallen commented on #129
Upon some further poking around, when i run ``` go get -u github.com/golang/lint/golint``` It downloads and compiles the go types package (shows up in %GOPATH%\pkg\windows_amd64\golang.org\x\tools\go\types.a) but it's still erroring, saying it's missing the evalnode type. does this mean it's not linking properly?

[2015-06-12 23:54] markmandel commented on #129
I'm getting exactly the same issue as well.

[code]

It was working up to a few hours ago. I see there are several commits to - https://github.com/golang/tools/ ,  which could be causing the issues. Looks like it's being actively worked on right now.

[2015-06-12 23:55] markmandel commented on #129
Yep, now I'm getting this error:

[code]

[2015-06-13 00:05] dsymonds commented on #129
Yep, @griesemer broke the x/tools/go/types for stable versions of Go. He's rolling back his change.

[2015-06-13 00:06] dsymonds commented on #129
Rollback in https://go-review.googlesource.com/#/c/11010/; run `go get -u github.com/golang/lint` and you should be fine.

[2015-06-13 00:06] #129 closed

[2015-06-13 00:23] TGiFallen commented on #129
I deleted the pkg folder and src/github.com/golang (refresh it, just in case) And I'm still getting the same error as before (missing type, EvalNode) Is there anything else i should be doing?

[2015-06-13 00:25] griesemer commented on #129
Ah! EvalNode is gone... - this needs a bit more work.

[2015-06-13 00:27] TGiFallen commented on #129
@griesemer haha, thanks for fast work on fixing this.

[2015-06-13 00:41] dsymonds commented on #129
I believe it's really fixed now (at b0bb8ee).

[2015-06-13 01:11] TGiFallen commented on #129
Yes sir, it is, Thanks again!

[2015-06-15 17:12] josharian opened #130 "Check for time.Durations without units"
Constant time.Durations ought to have units. `2 * time.Second` is far clearer than `2e9` and `time.Nanosecond` (or `1 * time.Nanosecond`) is better than `1`. And ever for experienced gophers, it is easy to write `time.Sleep(2)` and expect a sleep of two seconds.

This was originally filed as https://github.com/golang/go/issues/11137. [CL 11002](https://golang.org/cl/11002/) implements it as a vet

[2015-06-15 17:13] josharian commented on #130
I've not written a lint check before, but would be happy to do so if this check is welcome. Many of these could be automatically fixed as well.

[2015-06-15 22:20] dsymonds commented on #130
If the reason why this isn't in vet is that the false positive rate is too high, then it doesn't belong in golint either for the same reason.

This check is framed as a correctness thing, which is vet's bailiwick. I'm confused why it was thought that golint was the better place for it.

[2015-06-15 22:45] josharian commented on #130
IMO, everything that this check found is a stylistic failure. However, most of the code was not buggy. The suggestion of lint as a better home was that vet is about catching bugs whereas lint is about style and readability. For style, the false positive rate is low; for bugs, the false positive rate is high.

[2015-06-15 22:53] dsymonds commented on #130
Can you give a couple of examples of findings that are bad style but not incorrect, outside the flag/time package's tests?

[2015-06-15 23:11] josharian commented on #130
camlistore.googlesource.com/camlistore.git/third_party/labix.org/v2/mgo/cluster.go:536:

[code]

`100 * time.Millisecond` would be better.

github.com/ActiveState/go-dockerclient/testing/server.go:356:

[code]

`time.Millisecond` or `1 * time.Millisecond` would be better. (Assuming that I've done the math right and that is one millisecond--more evidence that units would be good.)

github.com/armon

[2015-06-15 23:20] dsymonds commented on #130
Okay, that seems plausible. Go ahead and try to write a lint check; let me know if you get stuck somewhere.

(Also, try to make it fail gracefully if the source code can't be fully typechecked.)

[2015-06-17 08:48] ahmetalpbalkan opened #133 "Returning multiple errors from a func confuses golint"
I have a function like this:

    func createError(xmlBody []byte) (serviceError error, err error)

It creates an error called `serviceError` from the given HTTP response body. And something goes wrong during that (the XML deserialization & so forth), it returns an error called `err`.

golint says:

    error should be the last type when returning multiple items

well, it actually is?

[2015-06-17 13:32] dominikh opened #134 "Panic when running on method with missing receiver"
Input:

[code]

go build:

[code]

go lint:

[code]

I'm not sure if the bug is in golint, or in the parser.

[2015-06-17 17:22] josharian opened #135 "Encourage examples to be in external test packages"
Examples are clearer and easier to use when they are in external test packages. https://github.com/golang/go/issues/11257 suggests doing this for the standard library. I suggest adding a lint check as well.

Happy to do the legwork if there is interest.

[2015-06-17 23:27] dsymonds commented on #133
It's a weird Go API that returns two errors. Much more normal is to return a single error and let the caller distinguish different classes of errors if needed. You appear to be returning an `error` for something that isn't actually an error; it might be clearer to return the concrete type instead.

[2015-06-17 23:27] #133 closed

[2015-06-17 23:29] ahmetalpbalkan commented on #133
I agree it's weird but if you're making a type declaration

    type errFunc func(body []byte) (error, error)

and two implementations would return `(ErrA, error)`, `(ErrB, error)` then they don't conform to errFunc

[2015-06-17 23:31] dsymonds commented on #133
Well, golint is about nudging people to write Go in the commonly accepted style, and that's not a standard Go API, so I'd say that golint is working as intended. Perhaps you might want to rethink how your code is working, or else just ignore what golint is saying for it.

[2015-06-17 23:32] dsymonds commented on #134
I'm a little surprised that the `go/parser` package is accepting that, so I'm not surprised that golint is misbehaving on it. I'm not sure it's worth the time to harden golint against all kinds of AST malformations, so consider filing this at https://golang.org/issue/new as a bug against the `go/parser` package.

[2015-06-17 23:33] ahmetalpbalkan commented on #133
Thanks @dsymonds. I'll probably merge two errs into one.

[2015-06-18 03:25] dsymonds commented on #135
Seems okay, but I'd probably like to see it gain acceptance/traction in the standard library first.

[2015-06-18 13:04] dominikh commented on #134
Will do. lint also isn't the only program failing on this input. It really should be an upstream issue.

[2015-06-18 20:48] dominikh commented on #134
@dsymonds According to https://github.com/golang/go/issues/11271 it's actually the responsibility of the client to check for such abnormalities. Whether you think it's worth it or not is up to you, but `go/parser` doesn't seem to be the right place for the fix.

[2015-06-19 02:22] dsymonds commented on #134
It should be easy enough to make golint cope a bit more gracefully.

[2015-06-21 15:20] msmarino opened #136 "lint will not build"
Upon attempting to build and install lint I am getting the following errors:

[code]

[2015-06-21 23:33] dsymonds commented on #136
Run `go get -u github.com/golang/lint/golint`, as per the README.

[2015-06-21 23:33] #136 closed

[2015-06-22 01:24] #134 closed

[2015-06-22 09:25] daemonza commented on #65
would love to have a exit 1 as well

[2015-06-23 02:40] dsymonds commented on #130
For posterity, this was rolled back in 4946cea due to it having too many false positives.

[2015-06-23 07:22] napsy opened #137 "disable exported method checks for main package"
Is it necessary to check for undocumented methods that are exported, but reside inside the ``main`` package where the methods will be used inside that package anyhow?

I propose a flag that would ignore the warning if the exported method is inside the main package

[2015-06-23 07:48] dsymonds commented on #137
We're not going to be adding flags to control which warnings are printed.

If an exported method is on an exported type in package main, that means other packages can import it, and it should be documented. That'll also make it easier to move that type to its own package later on too. If it doesn't warrant even a simple doc comment then either unexport the method or unexport the type.

[2015-06-23 07:48] #137 closed

[2015-06-29 03:23] josharian commented on #130
Filed https://github.com/golang/go/issues/11455 to ask for the go/types support that would make this feasible.

[2015-06-29 16:32] aholic opened #139 "too many arguments in call to types.Eval"
I got this when install golint

github.com/golang/lint
github.com/golang/lint/lint.go:1480: too many arguments in call to types.Eval
github.com/golang/lint/lint.go:1480: assignment count mismatch: 2 = 3

[2015-06-29 16:34] #139 closed

[2015-06-29 17:37] josharian commented on #130
See https://github.com/golang/lint/commit/b55059174c9f0cda51e7a12038ba79644d158bf3 for a discussion of the false positives and a very useful comment from Alan Donovan about how to proceed.

[2015-06-29 17:38] josharian commented on #130
I don't seem to be able to re-open this. @dsymonds will you do the honors?

[2015-06-30 17:04] TeckniX opened #140 "Error during install SetUint64 undefined"
Logs from install:
[code]

[2015-06-30 21:32] dsymonds commented on #140
What's your `go version` output?

[2015-07-01 15:47] TeckniX commented on #140
go version go1

Looks like apt-get failed me :-1:  - I'll upgrade to the latest and will close this for now

[2015-07-01 15:47] #140 closed

[2015-07-17 16:31] tamird opened #143 "Bad message when a func returns multiple errors"
The below fails golint with the message: "error should be the last type when returning multiple items"

[code]

[2015-07-18 00:33] dsymonds commented on #143
While technically true, it is a weird Go API that returns more than one `error` value. Arguably the error message could be better (e.g. "func foo should not have more than one error result"), so I'll see about fixing that, but it'll still flag your code.

[2015-07-19 19:22] GeertJohan opened #144 "underscores in cgo exported functions"
In c-style API's it is common to use underscores.

So when implementing a C API:

[code]

golint throws the error: `don't use underscores in Go names; func some_api_function should be someAPIFunction`.

Can this error message be suppressed? I think it is hardly ever useful. In fact, I think most golint errors should be suppressed on exported functions. If only this one is suppressed, then it will

[2015-07-19 23:21] dsymonds commented on #144
You're not implementing a C API there. You're implementing a Go API, wrapping a C API. Your callers will want to feel like they are calling a Go function, not a C function.

[2015-07-19 23:22] dsymonds commented on #144
See #138 (the pull request that caused cgo files to be checked) for a related discussion.

[2015-07-21 04:00] CharlesSong opened #145 "too many arguments in call to types.Eval in lint.go:1480"
github.com\golang\lint\lint.go:1480: too many arguments in call to types.Eval
github.com\golang\lint\lint.go:1480: assignment count mismatch:2=3

[2015-07-21 04:00] dsymonds commented on #145
You have an out of date dependency. Run the command in the README.

[2015-07-21 04:00] #145 closed

[2015-07-21 08:01] nlamirault commented on #111
If you creates tags, your package will be available in the stable.melpa.org repository.

[2015-07-24 20:55] GeertJohan commented on #144
@dsymonds I'm not sure we're are talking about the same thing. This code is compiled into a shared object and loaded by a C program, using Go1.5's `-buildmode=c-shared`. The C program calls `some_api_function`. The function is never called from Go code.

What I mean with "implementing a C API" is that the API outline is already defined in the C program, and my Go .so must conform to it to be compa

[2015-07-24 22:51] dsymonds commented on #144
Maybe you and @dominikh should come to some agreement on this. He said the opposite on #138.

[2015-07-25 00:05] GeertJohan commented on #144
I already agree with @dominikh: he is talking about C code being wrapped in Go. When wrapping a C library in a Go package, the API should definitely conform to Go styling standards. Take for example this wrap taken from the libusb that's linked in #138:
[code]
becomes
[code]

golint should indeed print errors if it was wrapped to `Get_Device_List`.

But that has nothing to do with cgo-exported fun

[2015-07-25 00:09] dsymonds commented on #144
Ah, by "exported" you mean in the linker sense rather than the Go sense.

Yeah, seems like we should avoid linting any signature tagged with `//export`.

[2015-07-26 00:16] thellimist opened #146 "Struct field multiple tags"
[code]
[code]

if there are more than 1 tag could go lint re order them and make them look nicer?

[2015-07-26 05:12] dsymonds commented on #146
That isn't really in scope for golint, and golint doesn't do reformatting either.

[2015-07-26 05:12] #146 closed

[2015-07-26 12:10] quangbuule opened #147 "Is there any .golintrc"
I am from ESLint,

I want to use `Id` instead of `ID`
golint always say:
[code]

Is there anyway to disable this rule?

[2015-07-26 22:21] dsymonds commented on #147
No. You're using a divergent Go style. We're only supporting the standard style.

[2015-07-26 22:21] #147 closed

[2015-07-28 20:01] OscarRyz opened #149 "go get doesn't work."
It looks like a dependency of golint changed because I can't perform go get
[code]

[2015-07-28 20:07] OscarRyz commented on #149
BTW if I perform go get types before it works without problems.

    go get golang.org/x/tools/go/types
    go get  github.com/golang/lint/golint

[2015-07-28 21:33] dsymonds commented on #149
That's why the README says to pass `-u` to `go get`. You need to use the latest version of x/tools.

[2015-07-28 21:33] #149 closed

[2015-07-30 20:29] d4rk5eed opened #150 "too many arguments in call to types.Eval on build and testing"
➜  lint git:(master) go test
\# github.com/golang/lint
./lint.go:1480: too many arguments in call to types.Eval
./lint_test.go:281: too many arguments in call to types.Eval
FAIL    github.com/golang/lint [build failed]

➜  lint git:(master) go version
go version go1.4.2 linux/amd64

[2015-07-30 21:25] dsymonds commented on #150
You have a stale `x/tools` repo. Run the command in the README.

[2015-07-30 21:25] #150 closed

[2015-07-31 16:37] toxeus opened #151 "add support for GO15VENDOREXPERIMENT"
For background see [here](https://groups.google.com/d/msg/golang-dev/74zjMON9glU/4lWCRDCRZg0J) and [here](https://groups.google.com/d/msg/golang-dev/74zjMON9glU/EOKSoaL5p8wJ). Therefore, `golint` will blindly check vendored dependencies when `GO15VENDOREXPERIMENT=1`. Since we cannot expect all dependencies to be `golint` compliant the `vendor` folder should be ignored by `golint` when `GO15VENDORE

[2015-08-02 23:23] dsymonds commented on #151
I'm not sure ignoring is right. The `go` tool doesn't ignore vendored packages if you use it with a `./...` argument; why should `golint`?

[2015-08-03 07:33] toxeus commented on #151
I think that it's pretty sane to assume that your dependencies should not fail on `go build` and `go test` and therefore not ignore the dependencies when specifying `./...` for the `go` tool.

For `golint` it's a different story because - as of now - most go packages are not `golint` compliant. IMHO it would be the wrong thing to punish a project that tries to be `golint` compliant by making it wo

[2015-08-03 12:01] theGeekPirate opened #152 "Warnings with Block Comments—Spacing, and Extra Asterisks"
If you begin a block comment with a space, golint does not recognize that it begins with the exported function name.

[code]

The following passes without any warnings.

[code]

Some people also prefer using multiple asterisks.

[code]

[2015-08-08 22:33] jszwedko commented on #65
@dsymonds while I agree with you that you shouldn't have it failing your builds, it is still nice to have the option to use it as a commit hook or something similar. It only makes the tool more flexible, I'm not sure what downsides there are.

[2015-08-11 06:54] brocaar commented on #151
@adg proposed to use this workaround for the ``go`` tool (https://github.com/golang/go/issues/11659):
[code]

Maybe we could make this work for the ``golint`` tool too (``golint $(go list ./... |grep -v /vendor/)``)?
It seems that now the ``golint`` tool parses the arguments provided by ``go list ./...`` as files and thus resulting in the error ``no such file or directory`` for each package.

[2015-08-16 16:01] jbuberel opened #154 "Report extra spaces in struct tags"
Feature request to detect/report the presence of extra space in struct tags. These problems are detected using `go vet`, but seem to fall into the category of things that `golint` could detect.

http://play.golang.org/p/G2KUJj58lb

Although this program will compile and run, these struct tags will not result in the values being set on the variables as expected. Hard to detect by visual inspection.

[2015-08-16 21:00] dsymonds commented on #154
It's a correctness thing, not a style thing, so it is govet's domain, not golint's domain. As you said, govet flags it already; there's no point in golint also checking for it.

[2015-08-16 21:00] #154 closed

[2015-08-17 20:42] ascarter commented on #151
In my opinion, the go tool should be ignoring vendor - to me this code should be exactly like library code in your workspace, just in the vendor/. I think vendor is a snapshot that most people would want to leave untouched. If you did want to locally fork in vendor, explicitly providing <gotool> vendor/path/to/thing seems perfectly fine. I'm betting the 90% case is like what @toxeus, @brocaar, and

[2015-08-31 17:22] ifraixedes commented on #151
I agree with @ascarter
Many thanks @brocaar for the workaround

[2015-09-03 14:19] Integralist opened #156 "List of lint verification items"
Is there a concrete list of items that `go lint` tries to verify against?

This page https://github.com/golang/go/wiki/CodeReviewComments is provided as a reference, but it's not clear if `go lint` actually validates against all these things, or just some of them?

The distinction between `go lint` and `go vet` also isn't clear, they seem very similar.

Any help or guidance is appreciated.

Thanks

[2015-09-03 21:57] dsymonds commented on #156
There isn't a list, except in the source code. It's not meant to be verifying a checklist, only making suggestions about a bunch of things.

I'm not sure how I can make the lint/vet distinction any clearer. Coding style is independent of code correctness; one affects how your program reads, and one determines if your program runs correctly.

[2015-09-03 21:57] #156 closed

[2015-09-17 14:35] noirotm opened #157 "Warning on multiline package comments with CRLF line endings on Linux."
I'm using golint 7b7f4364f on Ubuntu 15.04.

The following script causes unexpected output.

[code]

This outputs:

Removing the unix2dos conversion makes golint execute without warning.
So it looks like the inserted `CR` character is considered as a blank line by itself, which should arguably not be the case.

Also note that removing the "With another line." line instead also silences golint.

[2015-09-17 22:51] dsymonds commented on #157
How does godoc handle that? Does the package doc actually appear as the package doc?

[2015-09-18 07:53] noirotm commented on #157
This is the godoc output:

So yes, it does work fine.

[2015-09-19 21:43] y0ssar1an opened #158 "go get fails"
[code]

[2015-09-19 22:43] dsymonds commented on #158
I don't think that's a Go 1.5.1 thing. Golint does not use the `go/types` package in the standard library.

@alandonovan, did the x/tools repo change again?

@y0ssar1an: Please run `go get -u golang.org/x/tools/go/types` and see if that fixes it.

[2015-09-19 22:57] y0ssar1an commented on #158
`go get -u golang.org/x/tools/go/types` didn't fix it :(

[2015-09-20 06:30] vielmetti opened #159 "Update Travis configuration to test a variety of Go versions"
Travis can test multiple versions of Go. A simple patch provided in the attached PR does that.

As of this writing, all tests pass on 1.4, 1.5, 1.5.1 and "tip".

[2015-09-20 16:13] y0ssar1an commented on #158
I only get this issue on one of my machines. This must be my issue. Sorry for the noise.

[2015-09-20 16:13] #158 closed

[2015-09-20 22:19] dsymonds commented on #159
I'm not sure there's much gain here. The typical way that golint breaks with older versions is when a dependency breaks (e.g. `golang.org/x/tools/go/types`), which isn't going to be identified accurately by this.

[2015-09-22 01:18] #159 closed

[2015-09-24 08:19] happygiraffe opened #161 "highlight bad test functions"
I've just seen some test code which defined:

[code]

This won't work unless the function name begins with `Test`.  I propose a warning if:

- A function should trigger warning when:
    1. In a `_test.go` file
    2. Exported
    3. Takes a single `testing.T` arg
    4. Name does not start with `Test`

[2015-09-24 08:23] dsymonds commented on #161
There was a recently added `vet` check that does this. It belongs there because this is more of a correctness check than a style check.

[2015-09-24 08:23] #161 closed

[2015-09-24 08:27] dsymonds commented on #151
golang/go#12278 is probably going to be the right solution. Every tool that operates on Go packages shouldn't hack in their own mechanism for handling vendored packages.

[2015-09-25 09:29] zhtheyun commented on #65
+1 for exit 1 as well.

[2015-09-26 07:04] tve opened #162 "no exit code?"
Is there a reason that golint doesn't have a non-zero exit code when issues are discovered? That would make it easier for CI builds to halt if golint flags issues.

[2015-09-26 10:41] dsymonds commented on #162
Don't use golint in a CI. Read the README, and see previous issues.

[2015-09-26 10:41] #162 closed

[2015-09-27 16:25] serejja opened #163 "Exit status code is always 0"
Hi,

I'd like to integrate golint check to my CI build so that it consists from `go vet`, `golint` and `go test -v` calls. The problem here is that even when golint outputs warning messages the exit code is still 0 thus making tests green when they shouldn't.

Is there any chance to get this behave like go vet and go test?
Thanks

[2015-09-27 20:43] dsymonds commented on #163
Don't use golint in a CI. It doesn't belong there. Read the README and the previous issues.

[2015-09-27 20:43] #163 closed

[2015-09-28 23:14] dsymonds commented on #157
This is probably related to #152. Godoc seems to do some amount of post-processing after getting the text from the AST, and we're not matching that.

[2015-09-29 19:33] cridenour commented on #158
I am also getting this error on OSX 10.10.4, Go 1.5.1.

[2015-09-29 21:28] cridenour commented on #158
Leaving this here for anyone who has this same issue.

@dsymonds was correct in that my go tools were out of date, but go get could not update them because they switched form mercurial to git at some point. Deleting the whole golang.org/x/tools directory in my GOPATH and reinstalling fixed the issue.

[2015-10-06 11:05] gdm85 commented on #65
@dsymonds if this is a CLI tool (command-line-interface) it should set an exit code on error, as all other CLI tools do and - last but not least - as user would expect.

[2015-10-06 15:21] vaz-ar opened #165 "Cannot build with go 1.5.1"
Since go 1.5 some packages have been included into go main repository ([Source](https://golang.org/doc/go1.5#go_types)), making it impossible to build golint since the packages are not present anymore in golang.org/x .
Is there a plan to make it work with go 1.5 or will it be modified for a later release?

[2015-10-06 20:18] dsymonds commented on #165
Are you sure you aren't able to built golint? I'm building it fine at tip. Those packages have "moved" into the standard repo, but haven't been deleted from x/tools yet.

[2015-10-07 02:50] jszwedko commented on #65
I agree with the philosophy of not returning non-zero by default as long as the tool did not actually fail to run (as opposed to it ran and found errors), but I think being able to configure this behavior (like `curl --fail` does) would be very useful.

[2015-10-07 07:19] vaz-ar commented on #165
Thamk you for the reply, I'll try it on a clean environment and get back to you.

[2015-10-07 09:42] vaz-ar commented on #165
Ok so it seems that the problem is only on my computer, sorry for that.

[2015-10-07 09:42] #165 closed

[2015-10-11 18:00] rfink commented on #149
I did the "go get" on types and still get the same error message:

../../../github.com/golang/lint/lint.go:1480: too many arguments in call to types.Eval
../../../github.com/golang/lint/lint.go:1480: assignment count mismatch: 2 = 3

[2015-10-11 19:44] dsymonds commented on #149
Run `go get -u golang.org/x/tools/go/types` and try again.

[2015-10-11 22:02] rfink commented on #149
Same thing

go get -u golang.org/x/tools/go/types
Ryans-MacBook-Pro-2:glew-cortex (master*) $ go get -u github.com/golang/lint/golint
# github.com/golang/lint
../../../github.com/golang/lint/lint.go:1480: too many arguments in call to types.Eval
../../../github.com/golang/lint/lint.go:1480: assignment count mismatch: 2 = 3

[2015-10-11 22:05] dsymonds commented on #149
I don't know what else to suggest except clearing out your GOPATH and starting over. The signature to types.Eval changed ages ago; you've got an out of date version of something. Maybe your x/tools repo is pointing at the old code.google.com location.

[2015-10-11 22:16] rfink commented on #149
Thanks, that worked.  Not really sure how that happened.

[2015-10-15 18:24] kytrinyx opened #166 "No complaint for unusual doc comment for constant"
I was reviewing a bit of code someone wrote and saw the following:

[code]

I would have expected a complain of the format _comment on exported const TestVersion should be of the form "TestVersion ..."_.

Have the guidelines on how to comment exported constants changed?

[2015-10-15 20:27] dsymonds commented on #166
Nothing has changed. If that was in a test file it wouldn't be reported, though.

However, a bug might have snuck in at some point. We suppress the exact requirements for consts if the const is in a const block with a comment, like
[code]

Perhaps the change to do that meant that standalone consts don't ever get the form of their comment checked. That's a bug.

[2015-10-15 21:49] kytrinyx commented on #166
The file is not a test file; it's in a small single-file package (not "main").

I went back in time, and it earlier versions are not complaining about this code example at all, so it doesn't look like this is a bug introduced when changing the recommendations for the const block.

I went and checked other code examples that I have, and I _am_ getting the expected complaint elsewhere if I put a dif

[2015-10-16 23:47] kytrinyx commented on #166
I'm trying to narrow down this issue, and am using a single-file package, thing.

[code]

The source of `thing.go` is:

[code]

The `lintValueSpecDoc()` function gets called as expected with the

[code]

Because vs.Doc is nil at `lint.go:838`, the function returns before it gets to the bit where it can complain about the format of the comment.

I'm not familiar with golint or the ast package so I'

[2015-10-18 22:18] dsymonds commented on #166
I found the problem. For standalone package-globals, the doc can appear on the ValueSpec or the GenDecl depending on whether the GenDecl has parens. I just have to reshuffle the logic slightly.

[2015-10-18 22:45] #166 closed

[2015-10-19 00:13] kytrinyx commented on #166
Thank you!

[2015-10-19 17:56] DavyC opened #167 "cannot compile"
[code]

[2015-10-19 19:58] dsymonds commented on #167
Your golang.org/x/tools repo is out of date.

[2015-10-19 19:58] #167 closed

[2015-10-23 19:22] fiorix commented on #151
@brocaar you can do that with a one-liner: `go list ./... | grep -v /vendor/ | xargs -L1 cmd` where `cmd` is golint or whatever.

[2015-10-26 14:53] renpengben opened #168 "install lint error"
package golang.org/x/tools/go/types: unrecognized import path "golang.org/x/tools/go/types"

[2015-10-26 20:52] dsymonds commented on #168
Try `go get golang.org/x/tools/go/types`.

[2015-10-26 20:52] #168 closed

[2015-10-29 03:56] xiangjihan opened #169 "I got errors when install lint"
Commands and errors(I wanna install lint  to global environment):
[root@localhost ~]# go get github.com/golang/lint
/usr/share/gocode/src/github.com/golang/lint/lint.go:1496:16: 错误：reference to undefined field or method ‘Type’
  if b, ok := tv.Type.(*types.Basic); ok {
                ^
/usr/share/gocode/src/github.com/golang/lint/lint.go:1492:19: 错误：function result count mismatch
  tv, err := typ

[2015-10-29 04:06] dsymonds commented on #169
You have out of date dependencies. Run `go get -u github.com/golang/lint` instead.

[2015-10-29 04:06] #169 closed

[2015-11-11 23:44] crunchytom opened #171 "golint cmd not found (please update installation instructions)"
I eventually found it in my $GOPATH/bin which is of course not in my path, but I could have saved a lot of time if the installation instructions in the readme included this info.

eg, "If the installation succeeds, the golint binary should now be in $GOPATH/bin/golint"

I don't think this is inherently obvious to installers since most people that are installing golint are going to skew toward bein

[2015-11-12 00:24] dsymonds commented on #171
It's not really up to golint to teach people how to install and use Go itself. It's also not a tool that true beginners should really be diving into either.

https://golang.org/doc/install describes what happens when you `go install` something.

[2015-11-12 00:24] #171 closed

[2015-11-14 08:46] ncw opened #172 "Turn off function name warnings for methods implemented in external interfaces"
I'm implementing as interface defined in an external package.

Unfortunately the names in the external package interface don't conform to `golint` standards.

Could golint work out that I'm implementing a method in an interface in an external package and not warn about it?

## Example ##

### External library with well established (non golint friendly) method name. ###

[code]

### My code which I

[2015-11-14 20:34] dsymonds commented on #172
In general it can't, sorry.

[2015-11-14 20:34] #172 closed

[2015-11-14 21:55] ncw commented on #172
That's what I thought you'd say!

Thanks for looking into it.

Nick

[2015-11-16 16:24] eau-u4f opened #173 "install error?!"
[code]
while trying to install... do I miss something obvious ?

[2015-11-16 17:10] zimmski commented on #173
Run `go get -u github.com/golang/lint`

[2015-11-16 17:22] eau-u4f commented on #173
[code]
same

[2015-11-16 17:23] eau-u4f commented on #173
[code]

[2015-11-16 17:56] zimmski commented on #173
Hm. Try `go get -u golang.org/x/tools/go/type` please.

[2015-11-16 19:47] dsymonds commented on #173
You probably have a really old `golang.org/x/tools/go/types` (before it moved). If @zimmski's suggestion above doesn't work, delete `$GOPATH/src/golang.org/x/tools/go/types` and start again.

[2015-11-16 19:47] #173 closed

[2015-11-17 06:54] eau-u4f commented on #173
yes indeed, i removed the entire golang.org to force checking out everything properly.. and indeed it works fine.
too bad go don't handle that when -u...
thanks

[2015-11-17 10:32] zimmski commented on #173
@dsymonds: I already forgot that "-u" does not fetch updates for existing projects. Do you think that this might be a valid addition to `go get`?

[2015-11-17 14:27] maylingge opened #174 "package golang.org/x/tools/go/gcimporter: unrecognized import path "golang.org/x/tools/go/gcimporter""
When I try to install golint on ubuntu with "go get -u github.com/golang/lint/golint", I get the following errors:
package golang.org/x/tools/go/gcimporter: unrecognized import path "golang.org/x/tools/go/gcimporter"
package golang.org/x/tools/go/types: unrecognized import path "golang.org/x/tools/go/types"

I cannot find a way to resolve after searching among the issues and google.
Thank you.

[2015-11-17 14:59] zimmski commented on #174
Is your GOPATH correct? Have a look at https://golang.org/doc/install#testing and https://github.com/golang/go/wiki/GOPATH and then do a

[code]

[2015-11-17 15:44] e-dard opened #175 "Warn about use of unbuffered os.Signal channel."
The `os/signal` package will not block when sending a signal, which means that the channel passed to `signal.Notify` should always be buffered.

I think it would be reasonable to add a linter rule that checks to see if the channel passed to `signal.Notify` is buffered or not.

I would be happy to work on this if it would be accepted into the tool.

[2015-11-17 18:09] zimmski commented on #175
If you are right that signal.Notify needs a buffere channel no matter what, this should be added as runtime check in the source code anyway. Have you discussed this on the mailing list?

[2015-11-17 19:57] dsymonds commented on #173
Maybe. I think we had previously discussed at least `go get` knowing about the old `code.google.com` subrepos and warning folk. That would be worth considering. File a bug at https://golang.org/issue/new ?

[2015-11-17 20:04] dsymonds commented on #174
You also may have an old x/tools version. Delete `$GOPATH/src/golang.org/x/tools` and start again.

[2015-11-17 20:04] #174 closed

[2015-11-18 13:51] maylingge commented on #174
maylinge@ubuntu:~/go/src/github.com$ go get -u -v github.com/golang/lint/golint
github.com/golang/lint (download)
Fetching https://golang.org/x/tools/go/gcimporter?go-get=1
https fetch failed.
Still cannot get it.

Is it a network issue?

import "golang.org/x/tools/go/gcimporter": https fetch: Get https://golang.org/x/tools/go/gcimporter?go-get=1: dial tcp 74.125.68.141:443: i/o timeout
package go

[2015-11-18 16:00] zimmski commented on #174
Yep, that timeout looks like a network issue. This is not a problem with golint. Please start a thread on https://groups.google.com/forum/#!forum/golang-nuts

[2015-11-18 16:54] e-dard commented on #175
It's not the case that it _need_ a buffered channel no matter what, it's the case that there is no good reason (AFAIK) to pass `signal.Notify` an unbuffered channel. In fact, even the size of the buffer matters if you're listening for more than one type of signal.

Regardless, this is something that can be added as compile-time check, rather than a runtime one, since the size of a channel's buffer

[2015-11-18 19:01] zimmski commented on #175
I do not think that this is stylistic at all. However, the documentation of `signal.Notify` states:

The last sentence sounds to me that the buffer must be at least one no matter what since being notified for zero messages does not make sense at least to me.

Also, there is an example with the following comment:

That screams "incorrect behaviour" to me. I think that this should be discussed on th

[2015-11-19 01:38] maylingge commented on #174
Thank you.

2015-11-19 0:00 GMT+08:00 Markus Zimmermann <notifications@github.com>:

[2015-11-19 21:38] zimmski commented on #173
I opened golang/go#13332

[2015-11-20 11:15] mindaugasrukas opened #176 "Feature request: exclude some files"
I want to exclude some files from report. For example files auto-generated with mockgen:

[code]

[2015-11-20 11:23] zimmski commented on #176
`golint ./... | grep -v _mock.go`
`-v` stands for "invert match"

[2015-11-20 11:33] mindaugasrukas commented on #176
stupid me.

[2015-11-20 11:33] #176 closed

[2015-11-20 11:48] e-dard opened #177 "Empty variable declaration block is not highlighted."
Hi,

Whilst tidying up some code I came across this:

[code]

Lint does not pick this up or suggest it's redundant. I'm not aware of a good reason for `var ()` existing in a codebase.

Thoughts on this one?

[2015-11-20 11:49] zimmski commented on #176
I get your frustration. I often miss such simple arguments in these linting tools.

[2015-11-20 22:46] dsymonds commented on #177
It's hard to get excited. It's not something that will affect the godoc output, nor make the code look particularly odd. Do you see this happening a lot?

[2015-11-20 23:30] zimmski commented on #177
I searched with the regex `var \(\s*\)` through my go directory I only found this in testdata files. I am wondering if there is a reason why this is even allowed as well as `import()` and `const()`?

[2015-11-23 21:41] dsymonds commented on #177
I've had a think about it, and can't convince myself that a `var ()` is stylistically bad. It's vestigial, but that's about it.

[2015-11-23 21:41] #177 closed

[2015-11-25 01:00] adrianmacneil commented on #65
I would also like to return a non-zero exit code. I also think this is a pretty reasonable default - if people want to specifically allow failures in a script this is pretty easy to work around.

Seems strange to me that go's philosophy is all so "do everything exactly our way or it will immediately fail with an error", yet the lint tool's philosophy is "everything is just a suggestion, you should

[2015-11-25 15:56] asdfsx opened #178 "support for golang 1.5"
I'm using golang 1.5
when I try to install golint, I got the errors bellow
[code]

[2015-11-25 19:59] dsymonds commented on #178
You have an old golang.org/x/tools repo. Delete `$GOPATH/src/golang.org/x/tools` and re-fetch it.

[2015-11-25 19:59] #178 closed

[2015-11-26 02:43] asdfsx commented on #178
thx!!!! @dsymonds

[2015-11-28 11:02] tucnak opened #179 "Are dot imports evil?"
I found a couple of handy use cases where use of dot imports makes lots of sense. Is there a way to mute golint output for these?

[2015-11-28 11:14] zimmski commented on #179
This is flagged as a problem because of https://github.com/golang/go/wiki/CodeReviewComments#import-dot which has a good argument to not use it outside of *_test packages. What is your use-case?

golint will properly never have a functionality to disable certain checks but you can always work around this by filtering the output e.g. with `grep --invert-match ...`

[2015-11-28 11:22] tucnak commented on #179
I've got a helper library, providing a bunch of helper funcs. It's quite inconvenient to specify lib name each time I refer to some function, dot import saves some pain.

[2015-11-28 19:31] dsymonds commented on #179
Helper libraries often turn into junk drawers, especially when their common use cases aren't qualified with a unifying concept but are instead in a `util` package or similar. If it's painful to qualify names from a package with that package's name, perhaps that package needs a rethink.

[2015-11-28 19:31] #179 closed

[2015-12-03 21:20] alexaandru opened #180 "No longer getting warnings about names"
Given this source:

[code]

I would expect golint to complain like: `comment on exported const Foo should be of the form "Foo ..."` but it does not, it seems happy with it.

Updated to the very latest golint right now, still does the same. Go version is ```go version go1.4 linux/amd64```.

Thank you :)

[2015-12-03 21:23] dsymonds commented on #180
This sounds like #166. Maybe I did something wrong in 32a8716.

[2015-12-03 21:26] alexaandru commented on #180
Sorry for opening a duplicate issue then, yes, it seems like that exact issue. I only searched in the Open issues before creating this one. Please feel free to close/merge. Thank you! :)

[2015-12-04 02:31] dsymonds commented on #180
I can't reproduce your bug report. I do get golint reporting that. I suspect it's because you're on an old version of Go, and I'm using Go 1.5.

[2015-12-04 02:31] #180 closed

[2015-12-04 12:10] alexaandru commented on #180
Thank you, upgraded to 1.5.2 and indeed, it works as expected. Cheers!

[2015-12-06 07:39] shirayu commented on #149
I faced the same problem.
I solved this by ``go get -u golang.org/x/tools/go/types`` after remove ``$GOPATH/src/golang.org/x/tools``.

The old repository seemed to use Mercurial, while the current one uses git.
This caused the failing of ``go get -u golang.org/x/tools/go/types``.

[2015-12-14 01:34] patbaker82 opened #182 "Broken on 1.5"
[code]

[2015-12-14 01:56] dsymonds commented on #182
Upstream x/tools was briefly broken. It's fixed now.

[2015-12-14 01:56] #182 closed

[2015-12-26 06:57] martinrusev opened #183 "Can't install on Windows 10"
I am getting the following error on Windows 10:

[code]

[2015-12-26 07:23] dsymonds commented on #183
It's got nothing to do with Windows. You have an out of date `golang.org/x/tools` repo. Delete `$GOPATH/src/golang.org/x/tools` and run that `go get` command again.

[2015-12-26 07:23] #183 closed

[2015-12-26 07:28] martinrusev commented on #183
Thanks. Works fine now

[2015-12-26 20:13] yurishkuro commented on #17
@dsymonds However, golint readme also says:

[2016-01-04 09:46] jianfengye opened #184 "go get -u github.com/golang/lint/golint"
show error:

package golang.org/x/tools/go/gcimporter: unrecognized import path "golang.org/x/tools/go/gcimporter"
package golang.org/x/tools/go/types: unrecognized import path "golang.org/x/tools/go/types"

how to deal with that?

[2016-01-04 19:24] dsymonds commented on #184
Try deleting `$GOPATH/src/golang.org/x/tools` and run it again. You probably have an out of date or broken x/tools repo.

[2016-01-04 19:24] #184 closed

[2016-01-12 03:43] hit9 commented on #65
+1 for exit 1. We can use `golint || true` if the lint errors are really not cared.

[2016-01-12 04:31] kostya-sh commented on #65
if you care about lint errors you can use `test -z "$(golint)"`

[2016-01-12 04:44] hit9 commented on #65
cool！

[2016-01-12 22:38] DanCripe opened #185 "Problematic outdent recommendation"
When code is structured like this:

if condition {
        return expression2
} else {
        return expression2
}

...golint recommends that the else be deleted and the "return expression2" be outdented. However, when the code is of the form:

if var := expression1; condition {
        return expression2
} else {
        return expression3
}

...it may be the case that var is needed to execute t

[2016-01-12 22:40] dsymonds commented on #185
https://github.com/golang/go/wiki/CodeReviewComments#indent-error-flow explains what to do in that situation: move the var assignment outside the if. Golint mentions that.

[2016-01-12 22:40] #185 closed

[2016-01-12 22:47] DanCripe commented on #185
I disagree. I can use the pattern:

if var = expression; condition {
    code
} else {
   code
}

...anywhere - except when there's a closing return in the first block of code. Making me change a coding style (which is idiomatic to golang) because the code *could* be written in a way that skips the else (by promoting the locally-scoped variable to a higher scope) is unreasonable.

[2016-01-12 22:49] dsymonds commented on #185
The doc I linked to is documenting the idiomatic coding style. That you disagree with that style is understood, but it's what golint is working against. The decision is that keeping indentation minimal outweighs the scope limitation when those two conflict.

No-one is making you do what golint says. If you think you know better, ignore it.

[2016-01-13 03:11] douglarek opened #186 "How to disable [exported method should have comment or be unexported"
I find lots of codes in golang source are not commented, how can I disable it ?

[2016-01-13 04:27] dsymonds commented on #186
See the README. There are deliberately no ways to selectively enable or disable specific messages. Ignore them if they don't seem relevant.

[2016-01-13 04:27] #186 closed

[2016-01-13 04:29] douglarek commented on #186
@dsymonds OK. i know this issue closed; but btw: any plan for "enable or disable specific messages. " ?

[2016-01-13 04:33] dsymonds commented on #186
No, there are no plans to change that.

[2016-01-20 04:04] purpleidea opened #187 "go lint finds errors in generated stringer files"
Unfortunately, the stringer module likes to add underscores which golint finds. Perhaps it could detect and ignore stringer generated files? If not, the stringer module should be updated.

Example:
`
foo_stringer.go:9:5: don't use underscores in Go names; var _foo_index should be _fooIndex
`

[2016-01-20 04:05] dsymonds commented on #187
Just don't run golint on generated code. Generated code usually has a hard time meeting the standards we expect of human-written code.

[2016-01-20 04:05] #187 closed

[2016-01-20 04:07] purpleidea commented on #187
@dsymonds I understand it's not necessary for generated code to pass golint, this is why I recommended having it automatically avoid generated files. This will decrease the noise for the user.

[2016-01-20 09:56] zeisss opened #188 "check Printf/Errorf argument count against format"
I would have expected golint to "throw" an error here.

[code]

[2016-01-20 09:57] dsymonds commented on #188
That's something that govet checks. Try running `go vet test.go`.

[2016-01-20 09:57] #188 closed

[2016-01-20 14:11] n8gard commented on #65
I also am in the camp that would love to fail a CI run when lint is found. Thanks for the tip on `fgt`.

[2016-01-22 16:10] bobbytables opened #189 "Packages that define their own Errorf cause problems with different signatures"
The `grpc` package (google.golang.org/grpc) exports a function `Errorf` with a signature like so:

[code]
See: https://godoc.org/google.golang.org/grpc#Errorf

This causes problems with GoLint as it attempts to call out errors with Errorf and sees that the first argument is not a string returning lint errors such as:

"Constant 5 is not a string in call to Errorf`

[2016-01-22 19:27] dsymonds commented on #189
That's a known problem with govet, but govet is not golint.

[2016-01-22 19:27] #189 closed

[2016-01-25 16:05] zimmski commented on #187
The problem is that generated code can have different suffixes or even no suffix at all. There is no general rule how generated files should be named. IMHO it is best to just whiteflag files that should not be reported as problems. I usually simply use grep to filter the output of golint https://github.com/zimmski/tavor/blob/master/.travis.yml#L28

[2016-01-27 16:48] tj commented on #65
It's completely subjective, it should absolutely fail builds for an open-source project that has such requirements. +1 for proper exit code, it's simple enough to just ignore it if you don't want it.

[2016-01-28 19:27] perillo opened #190 "Inconsistent documentation"
The documentation (usage string) of the golint tool says:

[code]

However it is possible to specify files from different packages.
go list will reports an error, instead.

[2016-02-03 17:23] agjs opened #191 "should have comment or be unexported"
<img width="798" alt="screen shot 2016-02-03 at 18 20 59" src="https://cloud.githubusercontent.com/assets/7226555/12790524/ee0ce714-caa2-11e5-862c-afffdb4feec5.png">

I've just started learning Golang and while I do want to follow best practises and follow this linter, I'm not sure how to fix these warnings. When I put some random comment above some function or a type nothing really happens.

For

[2016-02-03 19:44] dsymonds commented on #191
https://golang.org/s/style is probably a good place to start reading, including the places it links to.

[2016-02-03 19:44] #191 closed

[2016-02-03 19:58] agjs commented on #191
Can you just answer the question instead of sending a link to entire documentation like a generic robot ?

[2016-02-03 20:06] dsymonds commented on #191
For that specific single lint message, the bit under "Doc Comments" is what you want. But you'll want the whole doc to understand other messages that lint produces too.

[2016-02-04 17:40] marcuswestin commented on #65
What @tj said. +1. Am forced to an annoying workaround instead.

[2016-02-04 17:41] marcuswestin commented on #65
An option would be to add a flag to fail when any lint is detected.

[2016-02-04 17:57] marcuswestin commented on #65
@tj: This is what I ended using for a lint- and vet-safe `make test`:

[code]

[2016-02-08 23:50] tochiai commented on #65
+1, would also like an exit 1 or a flag as @marcuswestin suggested

[2016-02-11 18:24] danilobuerger commented on #65
+1

[2016-02-23 16:50] chillum opened #193 "golint ignores variable clobbering"
Hi,

This is potentially unsafe code that is overwriting the variables:

[code]

[1] – At this point global `json` variable is overwritten and I cannot use `json.*` functions anymore.

It would be very convenient if `golint` detected and reported such situations.

[2016-02-23 23:28] dsymonds commented on #193
This isn't a job for golint. It's not a matter of style, but correctness. It's not unsafe either; you'll simply get a compile error if you were trying to access the `json` package, at which point you'll fix it by renaming the var.

[2016-02-23 23:28] #193 closed

[2016-03-05 09:02] yulrizka opened #194 "failed installing"
Failed to compile with go1.6
[code]

[2016-03-05 09:05] yulrizka commented on #194
Apparently I had an outdated version of `$GOPATH/src/golang.org/x/tools` removing it and installing it again fixed the problem

[2016-03-05 09:05] #194 closed

[2016-03-08 05:52] paddyforan commented on #151
Just wanted to chime in that this is currently kind of non-obvious, and a workaround being documented better (or supporting the same workaround used for the `go` command) would be a great step forward, in my opinion. I have some thoughts about how to add support in a non-breaking-change way, but none are particularly elegant (add it as a flag option, allow multiple package paths to be passed, etc.

[2016-03-09 23:43] client9 opened #195 "flag nil checks followed by len check, e.g. x != nil && len(x) ..."
This is a follow up from [golang-nuts](https://groups.google.com/forum/#!topic/golang-nuts/AYFi0CQBsNM) and a [golang ticket](https://github.com/golang/go/issues/14733).  The conclusion from both is that golint is the right place to discuss this.

The proposal is to log on the following "redundant nil checks"

[code]

**in most cases** can be simplified into just

[code]

@griesemer  pointed out t

[2016-03-09 23:48] dsymonds commented on #195
I agree golint would be the right place for such a check.

I'm not sure it's a particularly worthwhile check, though. It's not super common, as your data suggests, and it doesn't feel particularly egregious from a stylistic perspective. The only redeeming aspect of it is that it is machine checkable, but that's quite a lot bar.

I'm open to further arguments, but I'm leaning towards "no" right now

[2016-03-10 00:33] client9 commented on #195
Hi, thanks for taking a look.

It's tough to make arguments since I'm not sure I understand acceptance criteria for golint.  Is it just for stuff referenced in Effective Go and stuff in CodeReviewComments?   If so, then yeah, this check doesn't match anything there, and I should not have even filed a ticket. To make it more clear,  I would move last sentence in the Purpose section of the README to

[2016-03-10 03:52] dsymonds commented on #195
The acceptance criteria is not well defined. It amounts to things that are stylistic, reasonably common, machine checkable accurately, and actually problematic in some way if violated.

There's lots of mistakes that Go newcomers will make. I don't think golint is the place to catch them.

[2016-03-10 10:34] wjkohnen commented on #195
I would like to see this check _somewhere_, at least for educational purposes. The benefits of having this check available somewhat reminds me of the benefits of [unconvert](https://github.com/mdempsky/unconvert). If this check can't find a home, maybe make it a standalone command as well and I am sure @alecthomas would include it in his [gometalinter](https://github.com/alecthomas/gometalinter)?

[2016-03-17 23:37] dsymonds commented on #151
`GO15VENDOREXPERIMENT` support is not going to happen because that env var is going away. It was a transitional hack.

`golint` isn't going to intentionally skip `vendor` dirs for the same reason that the `go` tool doesn't. There' easy workarounds as are listed above.

The only remaining piece is to make sure that vendored imports are actually type checked correctly, and that only requires switchi

[2016-03-17 23:37] #151 closed

[2016-03-22 19:45] mewmew opened #198 ""go get" fails for Go 1.4"
[code]

[2016-03-22 19:59] dsymonds commented on #198
Per the README, golint nowadays requires Go 1.5 or later.

[2016-03-22 19:59] #198 closed

[2016-03-28 14:26] rsc commented on #65
This is clearly a feature that is important to a significant class of users. I don't see why this is "wontfix". It's true that we can't change the default behavior, because that might break current scripts as mentioned above, but we can certainly add a flag, say -s (for status) that makes golint set the exit status depending on whether any problems are found.

[2016-03-31 14:53] kostya-sh commented on #195
@client9, maybe this check can be added to https://github.com/dominikh/go-simple?

[2016-04-01 03:00] dominikh opened #200 "golint doesn't check xtest files"
Consider the following shell session:

[code]

When checking the net/http package, there are no linter warnings for the serve_test.go file. When checking that file individually, there are warnings. The third invocation is there to prove that it's looking in the right directory and that it does check tests, so that rules out two possible causes.

[2016-04-01 03:04] dominikh commented on #200
The issue is that golint only checks the tests in package http, not in http_test.

[2016-04-01 03:06] dsymonds commented on #200
Yeah, see golint.go:124:

[code]

[2016-04-01 03:08] dominikh commented on #200
@dsymonds are you open to switching to `go/loader`, or would you prefer to keep the current code and fix it there?

[2016-04-01 03:11] dominikh commented on #200
Disregard that, switching to go/loader would probably be a rather intrusive change. I'll see about fixing it in the current code.

[2016-04-01 03:13] dsymonds commented on #200
#153 has been open for ages to do that, but I keep putting it off because it's such a non-trivial change.

External tests are relatively rare. I'm not sure it's worth the effort unless it's a relatively small change. They may also have different concerns about style.

[2016-04-01 03:22] dominikh commented on #200
Yeah, I discovered it in my golint fork, where it does matter, and figured I'd report it upstream. If it's not a high priority for you, I'll just fix it in my fork for now (via go/loader, most likely). At a quick glance I don't think that it's a small change one way or another, the xtest handling is a bit intricate if done manually.

[2016-04-03 16:21] ymmt2005 opened #202 "golint suggests removing else illegally even when it is necessary."
golint warns for code like this:

[code]

The warning says "if block ends with a return statement, so drop this else and outdent its block (move short variable declaration to its own line if necessary)", but of course `else` cannot be removed here.

[2016-04-03 21:50] ymmt2005 commented on #202
Thank you.

Doing so will enlarge the variable scope, which may break codes.

I think it is arguable which is better:
* to outdent a block in exchange for wider scope, or
* to narrow variable scopes in exchange for an else block.

In case `else` block has just 1 or 2 lines of code, having
short variable declaration and `else` block is not so bad.

[2016-04-03 22:39] dsymonds commented on #202
The established Go style is what golint suggests, even if that isn't your preference.

[2016-04-03 22:39] #202 closed

[2016-04-03 23:41] ymmt2005 commented on #202
@dominikh @dsymonds
Just to clarify, I can *fix* the code as follows:

[code]

But I don't understand why this is OK for golint while the first is not.
Is this intended behavior?

A real-world example is here.
https://github.com/cybozu-go/goma/commit/cfded2d3d7bcf0f56fbb02836300b838da55c371#diff-ad79469688b87932daa9a5969430cc26

[2016-04-03 23:43] dsymonds commented on #202
Golint doesn't try to catch every possible situation. Your code isn't "broken", it just doesn't follow the standard Go style, which would be to write

[code]

[2016-04-03 23:44] ymmt2005 commented on #202
@dsymonds
I see.  Thank you!

[2016-04-04 14:59] zimmski commented on #200
I would be happy to finish up #153. We are using the PR in production for a very long time now but I haven't got the time to test it with Go 1.6 since we are still on 1.4.

[2016-04-04 21:12] cespare opened #203 "False positive with certain if-else constructs"
If you run golint on the following file:

[code]

it gives

    test.go:17:9: if block ends with a return statement, so drop this else and outdent its block

but this isn't correct, because some of the if-else arms don't end in `return`.

It doesn't give this false positive if you remove the first else-if:

[code]

[2016-04-04 23:48] dsymonds commented on #203
That looks like a bug. I thought it had already been fixed, but perhaps not.

[2016-04-05 00:44] dsymonds commented on #203
Oh, this is #181.

[2016-04-05 00:44] #203 closed

[2016-04-05 00:45] cespare commented on #203
Ah, thanks. I'd only checked the open issues, not PRs.

[2016-04-06 16:19] dmitris commented on #187
Sorry picking up an old closed issue.  Just an idea - would it be possible for golint to look for the string `// Code generated by "stringer -type=` on the first line of each .go file and if found, skip linting the file?  It wold make using golint easier (`golint ./...`) without having to do extra movements to skip certain files like
`find . -name '*.go' | xargs grep -L '// Code generated by "stri

[2016-04-08 16:01] alvarolm commented on #191
While I to belive that following the guidelines is the best practice, its usefull to remeber that this kind of features could be implemented on top of the linter as this commit states: https://github.com/golang/lint/pull/192/commits/37c4c6fcefd668054d6430b741ee64f1e826cda0

[2016-04-11 13:07] cloudfly opened #204 "golint does not check the function name in interface"
[code]

[code]

it does not check the uncorrect function name hello_world in TestInterface, any special reason for this?

Thanks.

[2016-04-11 20:26] dsymonds commented on #204
It's because interface names are often constrained by concrete implementations elsewhere (because the interface exists to match some specific types), so it's not often feasible to rename the interface method. That doesn't apply to standalone funcs.

[2016-04-11 20:26] #204 closed

[2016-04-26 23:02] dsymonds commented on #65
Resolved by 58f662d.

[2016-04-26 23:02] #65 closed

[2016-04-29 00:01] mnsr opened #206 "install path returns 404"
In my cmd prompt, i enter:
`$ go get -u github.com/golang/lint/golint`

it returns the following error:
[code]

https://github.com/golang/lint/golint returns a 404

[2016-04-29 00:05] dsymonds commented on #206
Is your copy of golang.org/x/tools out of date? Consider deleting `$GOPATH/src/golang.org/x/tools` and re-running the `go get` command.

[2016-04-29 00:10] mnsr commented on #206
Thanks for your quick reply!

That worked, thanks! Not sure how it was out of date because i only started to learn go the yesterday.

[2016-04-29 00:10] #206 closed

[2016-05-03 12:52] mileusna commented on #152
+1

[2016-05-08 06:27] wolfeidau opened #207 "golint currently panics when run using golang installed from master"
The environment.

[code]

[code]

Simple test case is running golint against the golint sources.

[code]

After digging into the issue I traced it back to https://github.com/golang/tools/commit/764c4ccf448e9568efd90fa837d6c38ee64252e9#diff-f9250dbc13598f665f314ef639530c96

If I checkout the commit before this one, the software builds and runs fine, specifically https://github.com/golang/tools/comm

[2016-05-09 23:27] dsymonds commented on #207
This sounds like it is an upstream bug in the `gcimporter15` package.

@griesemer @alandonovan

[2016-05-09 23:32] griesemer commented on #207
Yes, working on this right now.

[2016-05-09 23:54] griesemer commented on #207
Work in progress: https://go-review.googlesource.com/22963 .

[2016-05-10 00:27] wolfeidau commented on #207
Thanks a lot for following up on this.

[2016-05-10 02:43] griesemer commented on #207
@wolfeidau A fix has been pushed and addresses the issue in x/tools. It expect it to address the golint issue (note that all packages need to be compiled/installed with the latest compiler version). Perhaps you can verify it's fixed and close this if so. Thanks.

[2016-05-10 03:42] wolfeidau commented on #207
@griesemer I pulled down master of x/tools on my machine and rebuilt `golint` and it is now fixed.

Cheers

[2016-05-10 03:42] #207 closed

[2016-05-13 15:27] opennota opened #208 "golint incorrectly reports that an exported constant/variable is uncommented"
test.go:
[code]

[code]

And if you replace `const` with `var`:

[code]

[2016-05-13 15:58] corburn commented on #208
[code]

[2016-05-13 20:56] dsymonds commented on #208
Yep, what @corburn said. It's mandated that way because that's the form that godoc extracts.

[2016-05-13 20:56] #208 closed

[2016-05-14 01:44] yoiang opened #209 ".golintrc for enabling and disabling rules"
Hey y'all, **golint** is great!
I understand the tool is meant to be opinionated but no rule is hard and fast. It would be great to be able to customize which rules **golint** has enabled and disabled, preferably within a repo specific file.

[2016-05-14 01:59] dsymonds commented on #209
No, see the README.

[2016-05-14 01:59] #209 closed

[2016-05-14 02:05] opennota commented on #208
I must differ, because godoc.org shows these comments just fine.

[2016-05-14 02:09] opennota commented on #208
https://godoc.org/github.com/opennota/elvenshtein

[2016-05-14 02:14] opennota commented on #208
At the very least, I'd like golint not to tell me outright lies, please.

[2016-05-14 02:33] yoiang commented on #209
@dsymonds right, I've read through the README already, and again, and am still unclear what part of it pertains, maybe if you could explain like I was a child.

[2016-05-14 02:37] dsymonds commented on #209
There is no need to enable or disable different rules. If you disagree with a particular style rule, just don't follow it. Or use grep if you can't bear the output.

[2016-05-14 02:42] yoiang commented on #209
I'm sure this has already been argued in another thread so I'm just going to confirm it rather than debate it here: the offical golang stance is _follow our rules or don't use our language and tools._

Aside: using grep isn't always an option, for example when building tools on top of tools as one does when building an ecosystem.

[2016-05-14 05:17] dominikh commented on #209
Tools on top of tools can still filter output.

[2016-05-17 23:18] jeevatkm opened #210 "Why golint treats this as warning?"
It's common to use this pattern/structure in go.
[code]
`golint` warns "exported func NewSample returns unexported type *main.sample, which can be annoying to use (golint)"

[2016-05-17 23:45] dsymonds commented on #210
It's not a common pattern because callers of that function from other packages will struggle to use it. For instance, they can't put a *sample field in their own struct.

[2016-05-17 23:45] #210 closed

[2016-05-17 23:56] jeevatkm commented on #210
I agree with `they can't put a *sample field in their own struct`. Thanks, will update my implementation.

[2016-05-22 09:57] ankyo opened #211 "how to ignore keywords"
notify: func parameter userId should be userID

how to ignore this

[2016-05-22 09:58] ankyo commented on #211
my IDE is vscode

[2016-05-24 22:39] opennota commented on #208
Please reopen.

[2016-05-25 13:46] yeasy opened #213 "Error to install golint"
The error happens when install with
[code]

My go version is
[code]

Any help? Thanks!

[2016-05-25 22:40] dsymonds commented on #213
Looks like your GOPATH is busted. Try deleting /Go/src/golang.org/x/tools and starting again.

[2016-05-25 22:40] #213 closed

[2016-05-26 06:15] yeasy commented on #213
@dsymonds
That works, thanks!

[2016-05-27 13:55] afeld opened #214 "feature request: add option to automatically fix issues"
Hello! I'm relatively new to Go, coming from the Ruby world. I'm using `golint`, but noticed that the errors need to be fixed manually. Ruby's [RuboCop](https://github.com/bbatsov/rubocop) linter provides a `--auto-correct` flag, where it can fix some of the simple lint warnings by itself. Even for simple warnings (e.g. `func getXmlDoc should be getXMLDoc`), this would be useful. Maybe [`rename`](

[2016-05-27 14:09] afeld opened #215 "feature request: add option to automatically fix issues"
Hello! I'm relatively new to Go, coming from the Ruby world. I'm using `golint`, but noticed that the errors need to be fixed manually. Ruby's [RuboCop](https://github.com/bbatsov/rubocop) linter provides a `--auto-correct` flag, where it can fix some of the simple lint warnings by itself. Even for simple warnings (e.g. `func getXmlDoc should be getXMLDoc`), this would be useful. Maybe [`rename`](

[2016-06-07 13:18] jameshfisher opened #216 ""Id" is not an acronym"
`golint` gives me warnings like this:

[code]

"Id" is not an acronym and it is intentionally written "Id". It also plays more nicely with CamelCase.

This warning is cluttering up a list of more serious warnings. I would prefer for it to be removed, or for me to be able to silence it.

[2016-06-07 18:42] dlsniper opened #217 "Report missing Example functions as warnings/errors"
It would be nice if lint would look for Example functions and give a warning / error if they are missing. This should encourage library authors to provide examples of usage for their packages. Could be done in absence of `package main`.

This doesn't have to scan for missing Example on all the exported functions but at least one Example function should be in the whole package.

[2016-06-08 10:38] mvdan commented on #215
Did you open this issue twice by accident? #214

[2016-06-08 10:44] mvdan opened #218 "Detect funcs implementing defined interface"
If one does `golint go/ast`, the vast majority of the warnings are of the form:

[code]

All of these methods implement `Node.Pos` and `Node.End`, which do have documentation.

I hit a very similar issue in a package of mine. As a developer, to fix these golint warnings I would basically just repeat the same godoc line for every single implementation without any changes, which doesn't make much se

[2016-06-08 13:40] afeld commented on #215
Weird! Sorry about that. Closing this one.

[2016-06-08 13:40] #215 closed

[2016-06-13 16:27] kkirsche commented on #216
According to [Merriam-Webster](http://www.merriam-webster.com/dictionary/ID%5B2%5D), the abbreviation is "ID" which is shortened from Identification.

[2016-06-13 16:31] kkirsche commented on #152
Does `gofmt` adjust block comments in any way which would dictate the "correctness" here?

[2016-06-13 16:44] jameshfisher commented on #216
@kkirsche where the top two answers are polar opposites and the thread is full of disagreement. I don't want to get into the argument and I feel like the linter is trying to drag me into it. There are more serious warnings that I want to see, and this silly warning gets in the way of them.

[2016-06-17 22:42] jzacsh opened #220 "feature request: fuzzy lint for idents implementing io.Closer interface"
I'd like golint to complain about the second line here:
[code]
**tl;dr** I'm guessing a heuristic like the following can catch this common case:
 1. `id` was assigned to in the current scope
 2. `id` has a `.Close()` method (ie: implements the [`io.Closer` interface](https://golang.org/pkg/io/#Closer))
 3. `id.Close()` not called in the top level of this scope

By "in the top level" of bullet 3 I'

[2016-06-22 13:51] eapache opened #221 "Incorrectly detects ALL_CAPS warning for numeric names"
Specifically any variables named such as `V123_456` will give the warning about using ALL_CAPS and suggest camel-case, which is incorrect. The initial capital is necessary to export the variable and none of the other characters have lower-case alternatives.

[2016-06-23 01:08] bradleyfalzon opened #222 "panic when parsing methods on exported fields"
The following code causes a panic in golint:

[code]

The code incorrectly tries to add a method to an external package, the compiler will not accept this `./main.go:5: cannot define new methods on non-local type log.Logger`.

[code]

The panic occurs when golint finds a problem, in the above case because there is no comment for an exported method, but golint doesn't expect a selector in the recei

[2016-06-28 09:17] calmh opened #223 "panic: (symbol) already declared"
[code]

Code being checked is current `master` of github.com/syncthing/syncthing.

[2016-07-13 07:42] matuskacmar1 opened #224 "go getting tools returns error"
Had problem with golang.org/x/tools go geting them returns this:
`package golang.org/x/tools: no buildable Go source files in /Users/student/Documents/GO_WORKSPACE/src/golang.org/x/tools`

my go version:
go version go1.6.2 darwin/amd64

My env paths are correct it worked before and now its suddenly throwing an error.

[2016-07-13 09:43] #224 closed

[2016-07-16 00:18] peterbourgon commented on #216
That ID is written ID is longstanding Go form. Just accept it and move on to more interesting problems :)

[2016-07-18 11:17] jameshfisher commented on #216
@peterbourgon exactly - I want to deal with the interesting real warnings rather than this silly one. I eventually did that by turning off `golang/lint`

[2016-07-18 11:27] peterbourgon commented on #216
This isn't a silly warning. You should be writing `ID`. That is accepted Go style.

[2016-07-18 23:51] pixel27 opened #225 "Strip non alpha numeric characters from the beginning of a comment before validating it"
In addition to documentation I use comments visually break a source file into sections.  This means that many of my comments begin with a row of "****" or "----".  However this runs afoul of the  "comment on export <blah> should be of the form <blah>....".

If those characters could be stripped before the comment text is checked, as the symbols are obviously not documentation that would be helpful

[2016-07-18 23:54] pixel27 commented on #225
For my own personal use I've done the change and placed in pull request #226.

[2016-08-01 20:25] minusnine opened #228 "Check package comment consistency"
I often review code that looks like:

[code]

There are three things wrong with the above:
1. "package" is not capitalized properly.
2. There is an empty line between the package stanza and the comment, rendering this useless for godoc.
3. The package names are mismatched.

It would be nice to flag these cases in golint. There exists the special case for `package main` that should be handled as we

[2016-08-03 17:25] dsnet opened #229 "False warning about omitting type"
Consider the following:
[code]

Currently, I get the warning:
[code]

I believe this warning should only be shown if the type on the left is exactly the same as the type on the right. In this case, the left is an `io.ReadSeeker`, while the right side is an `bytes.Reader`.

[2016-08-04 00:44] dsnet commented on #220
I don't believe this belongs in `golint`. This is clearly an issue of correctness and the same issue should be filed in https://github.com/golang/go/issues in regards to `cmd/vet`, who's job to check for correctness.

[2016-08-04 00:44] #220 closed

[2016-08-04 00:50] dsnet commented on #221
May I ask what the original variable or constant name was? `V123_456` doesn't seem like a exported value realistically seen in packages.

[2016-08-04 00:58] dsnet commented on #216
Part of styling is that it is guided by what the community ends up doing. Using `ID` as the abbreviation for Identity rather than `Id` is what the Go community has been doing and been encouraged to do up until now. There are certainly cases (even in the standard library) where `Id` is used, but those can't be changed due to compatibility agreement.

I believe the worse thing that we can do is to f

[2016-08-04 00:58] #216 closed

[2016-08-04 01:13] dsnet commented on #225
I believe a much easier solution to just put the row of `****` with an extra line break before the next docstring.

For example:
[code]

Does this solve your use case? I'm not in favor of stripping alpha-numeric characters from a docstring since it leads to worse issues.

[2016-08-04 14:10] eapache commented on #221
It's in a client library supporting certain specific versions of the upstream project. We provide exported values for those versions, which users can then pass back in as configuration. So `V0_8`, `V0_9`, `V1_0` and that sort of thing.

https://github.com/Shopify/sarama/blob/9bb4a68d57ff6f623363aa172f0a8297aa289ba7/utils.go#L141-L150

[2016-08-04 17:08] pixel27 commented on #225
I guess that would work...it just comes down to coding practices.  After using Go a little more i'm just starting to feel like Go's coding guidelines conflict with mine too much to even try to appease lint.

[2016-08-16 23:15] henvic opened #231 "panic: inconsistent import on go 1.7"
After I installed go version go1.7 darwin/amd64 I started getting this issue.

I have updated with

[code]

and the panic still happens (just the import changed, but this is not important).

[code]

[2016-08-17 16:39] zombiezen opened #232 "Warn when calling reflect.DeepEqual with errors"
A common antipattern I see in production code is using `reflect.DeepEqual` on errors in tests, which results in brittle tests.  Even just adding more diagnostic information to the error can break it.  The more proper thing to do is either:
1. Check whether a substring is present in the error message (not great, but more correct).
2. Use something like Dave Cheney's [errors package](https://github.

[2016-08-23 09:02] SemihAkar opened #233 "Webstorm file watchers"
Hi,

Can anyone give an example how to setup golint for webstorm? (with file watchers)

[2016-08-24 07:48] yazgazan commented on #231
Removing `$GOPATH/pkg/*` and re-installing golint worked for me.

[code]

[2016-08-24 20:02] StabbyCutyou opened #234 "Remove "probably" warnings"
Specifically around replacing something like

`can probably use var x []int` instead of `make([]int,0)`

The reason why I feel this should be removed has been stated in your docs: "We will not be adding pragmas or other knobs to suppress specific warnings". A warning that says "you can probably do this" feels much more like someones opinion rather than an actionable warning.

I understand that in

[2016-08-24 23:08] henvic commented on #231
Hi, @yazgazan. Have done just that and it is working again.

[2016-08-25 14:03] bgreezy commented on #234
I agree but will add the following suggestion: Could it be made so that 'probably' warnings still exist but are optional according to a suppression flag?

[2016-08-25 14:21] StabbyCutyou commented on #234
The author stated they have no intention for such flags, which I can
respect.

But in such a case, I think the tool should only warn on concrete
actionable items.

On Aug 25, 2016 10:03 AM, "bgreezy" <notifications@github.com> wrote:

[2016-08-25 18:52] taherv opened #235 "Is this really a lint'ing related issue ?"
So I got this error from golint ....

volume.go:47:1: comment on exported type StorageDevice should be of the form "StorageDevice ..." (with optional leading article)

My code was this ....
// The rest of the code is a work in progress.
type StorageDevice interface {
        CreateVolume() Volume
}

Why does golint think I will want to mention the interface name in the comment ?
(Isn't saying "the

[2016-08-25 19:38] bgreezy commented on #235
I have limited experience but I believe documentation like that found on godoc.org is automatically generated by comments above structs and functions that begin with the name of that exported function or struct. That is why the comment above the exported struct is flagged that way. Check out any project on godoc.org to see examples!

[2016-08-25 20:37] dsnet commented on #235
For one, I would avoid language like "the interface below" since any documentation front-end may end up displaying the docstring above _or_ below the block.

Secondly, it is convention from the early days of the language's early days to write docstrings starting with the identifier of what it is describing. Whether or not we like with this style, I believe it is important that the community remain

[2016-08-25 20:43] dsnet commented on #233
Hi Semih, this question is probably better asked on [go-nuts](https://groups.google.com/forum/#!forum/golang-nuts). The issue tracker is primarily for filing golint issues.

[2016-08-25 20:43] #233 closed

[2016-08-25 20:49] dsnet commented on #234
I'm trying to understand the use-case here better. Are you using `make([]int, 0)` for semantic reasons? That is, `a := make([]int, 0)` creates a non-nil slice, while `var a []int` creates a nil slice.

If it's for purely stylistic reasons, isn't that an argument in favor of making this _always_ actionable (that is dropping the "can probably ") and suggest that people always use `var a []int` inste

[2016-08-25 20:50] dsnet commented on #231
Thanks @yazgazan for helping. I'm going to close this as the issue is resolved.

[2016-08-25 20:50] #231 closed

[2016-08-25 20:55] dsnet opened #236 "panic running golint"
Filing on behalf of @richardwilkes from golang/go#16877

Please answer these questions before submitting your issue. Thanks!

1. What version of Go are you using (`go version`)?
**go version go1.6.3 darwin/amd64**

2. What operating system and processor architecture are you using (`go env`)?
**GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOOS="darwin"
GOPATH="/Users/rich/c

[2016-08-25 21:06] taherv commented on #235
Thanks !
This is not a bug per-se, thanks for educating me.

Not a linguist by any means, but the "(with optional leading article)" doesn't apply to every language, does it ?

[2016-08-25 21:08] StabbyCutyou commented on #234
So, let me try and illustrate why I think this leads to inconsistent-looking code by giving you a straw example.

I fully understand that you'd likely declare a bunch of slices like this all at once, and in practice what you'd see would be these declarations scattered around different places in code for different purposes - this is solely to illustrate a point about consistent-looking code.

Examp

[2016-08-31 09:40] petemoore commented on #223
I think I have the same problem...

[code]

[2016-08-31 09:41] petemoore commented on #223
Ah ... I wonder if this is due to vendor dependencies... Will check.

[2016-08-31 09:54] petemoore commented on #223
@calmh I suspect it is related to `/Users/jb/src/golang.org/x/tools/go/gcimporter15` which (I'm guessing) is probably go 1.5 related. Maybe a `go get -u github.com/golang/lint` would fix this for you - I'm guessing there are changes added to handle go 1.7.

[2016-08-31 10:11] dominikh commented on #223
You will need to wipe/repopulate your GOPATH/pkg directory. This issue in particular can occur when you tested release candidates of Go 1.7 that produced slightly wrong export data, which trips up the importer.

[2016-08-31 10:22] calmh commented on #223
This is no longer an issue for me in current golint and Go 1.7. Thanks all!

[2016-08-31 10:22] #223 closed

[2016-08-31 11:43] petemoore commented on #223
Thanks @dominikh. I also fixed my problem by updating golint and its dependencies, which were vendored on an older version. Whoops! :smile:

[2016-08-31 17:25] dsnet commented on #223
Thanks @dominikh for your suggestion.

[2016-09-03 22:52] jasonkeene opened #237 "Common methods do not check signature."
I found it odd that my Write method was able to get past the linter without a doc comment:

[code]

I can see not requiring a doc comment for methods that satisfy `io.Writer`. I'll probably rename my method to avoid confusion but it would be nice if the check for common methods respected argument and return types.

[2016-09-05 13:07] savinov commented on #218
I agree: repeating same docs in all implementations is dull.
Maybe this is a godoc issue: to inherit docs from the interface definition to all the implementations.
In Java is is solved quite elegant: you just put {@inheritDoc} tag and you have javadoc from the interface method in an implementation.
That's what godoc doesn't have, but should have I think.

[2016-09-06 21:36] gordallott commented on #17
for anyone coming to this via google search and finding this dead end, i forked and removed this poor decision. just go get that version instead and enjoy less scope leaking

https://github.com/gordallott/lint

[2016-09-07 17:43] rakyll opened #238 "Report the use of deprecated stuff"
golint should be able to report cases user is depending on deprecated things. For the case below, it should be able to output "Deprecated: Use Client or Transport in package net/http instead".

[code]

[2016-09-07 17:51] dsnet commented on #238
For reference: golang/go#10909

[2016-09-07 18:38] dsnet commented on #235
You are right that leading articles are not available in all languages. I'm pretty sure that we don't support articles in French in Spanish (or other languages). If someone runs into that issue, they can file an issue and we'll handle it then.

For now, I'll close this. Thanks for the report.

[2016-09-07 18:38] #235 closed

[2016-09-07 18:43] dsnet opened #239 "Avoid generated files"
Generated source files are not generally expected to follow proper Go style. For example, running lint on a protobuf-generated Go file reports hundreds of lint issues.

With the upcoming generator disclaimer headers, we should consider having lint ignore these types of source files: golang/go#13560

[2016-09-07 19:32] rakyll commented on #238
This change will also encourage the use of the same deprecation message formatting in the third party packages.

[2016-09-08 07:50] dmportella commented on #222
I am also seeing this issue.

[2016-09-08 20:01] debraj-manna commented on #210
I have a code which looks like below:-

[code]

`golint` is reporting warning as:-
`warning: exported func GetInstance returns unexported type *monitor.myMonitor, which can be annoying to use (golint)`

Is this a correct warning  in this case?

[2016-09-08 20:09] dsnet commented on #210
The code snippet you presented is still somewhat strange. Since `myMonitor` is not exported, it will not be shown in godoc, so the user will not even know about the existence of the `myMonitor.Hello` method, even if they are able to call it.

Thus, I believe lint is correct in complaining that GetInstance is returning an unexported type.

[2016-09-08 20:13] debraj-manna-jabong commented on #210
I think that is the way to implement singleton as mentioned [here](http://blog.ralch.com/tutorial/design-patterns/golang-singleton/).

[2016-09-08 20:14] debraj-manna commented on #210
I think that is the way to implement singleton as mentioned [here](http://blog.ralch.com/tutorial/design-patterns/golang-singleton/)

[2016-09-08 20:29] dsnet commented on #210
Contrary to what that blog recommends, I think it's a poor idea to make the type of the singleton unexported (again, for the reason that the documentation will not show exported _methods_ on an unexported _type_).

I would just make `myMonitor` exported. What is your fear with doing that?

[2016-09-08 20:47] debraj-manna-jabong commented on #210
If I make `myMonitor` as exported then anyone will be able to instantiate it any number of times violating the singleton constraint.

[2016-09-08 20:51] dsnet commented on #210
That is a possibility, but you can document it that people should not do as such.

If you want to add the additional boilerplate, you can define an interface:
[code]

This has the advantage that the methods of the singleton are clearly documented.

[2016-09-10 14:34] ggeorgiev opened #241 "Support for plugin rules"
I have a few core libraries that are used in my company. They came with their own set of good practices. Obviously, none of them belongs to a generic purpose system like this one. It will be nice if I can plug in my own set of checks into the system before I run it.

[2016-09-10 14:53] ggeorgiev opened #242 "Detect pointless casts from the same type"
For example:

[code]

This might seem strange why someone will do such a thing at first place, I feel like i need to give some motivation for it:

I like to use different types for every semantic. Go makes this very easy with allowing to create fully functional (non-alias) types. Say: `type A string`. This allows for a compile time validation of interfaces - for example `bar(a, b string)` will acc

[2016-09-10 17:39] mvdan commented on #218
When I said `perhaps even godoc too` in the original issue, I meant that two solutions come to mind:

* `golint` does this change, but `godoc` doesn't. This is assuming that the user understands e.g. what `Pos()` means from reading the interface definition. This is also the less intrusive change, as no godoc pages would change.
* Both change. An advantage is that things would stay consistent and t

[2016-09-10 17:40] mvdan commented on #242
Heard of https://github.com/mdempsky/unconvert?

[2016-09-10 17:41] mvdan commented on #241
There are lots of linters out there. Why not simply use separate linters for extra checks?

If there were rules that made sense to add to golint via plugins, they should probably just be added. And if not, they should be in separate linters.

[2016-09-10 22:14] ggeorgiev commented on #242
I do now. Seems as what I need. Any reason why this should not be part of lint?

[2016-09-10 22:18] ggeorgiev commented on #241
Why having many linters is better over having a single linter with plugins? Sharing the common administrative/operational) part seems appealing to me.

[2016-09-12 17:49] dsnet commented on #241
The difficulty of plugins is that we need to define a common API that all the plugins can use. If the API is too narrow, then not very many useful plugins can be written. If the API is too broad, then it becomes too cumbersome to use.

When we step back and think about how lint works, I would argue each lint rule is actually wrappers around the functionality already exposed in the standard library

[2016-09-12 17:51] dsnet commented on #242
I believe it is because the type checking in lint is not as powerful (yet?) as the one that Matt implemented.

Most lint checks only rely on syntactic information, but the functionality of unconvert relies on type information. The former is much easier to deal with (e.g., you can run lint on a single file that otherwise would not compile), the later requires running the source through the compiler

[2016-09-12 17:53] mvdan commented on #241
@ggeorgiev on top of what @dsnet said, if you mean code - have a look at x/tools/go/loader. With that, writing a linter is trivial and code duplication across linters is minimal.

[2016-09-12 19:02] ggeorgiev commented on #241
My background is from c++ where linting was almost completely impossible for one guy to do, and clang seems to be favoring the plugin architecture - even with LLVM succeeded to make the extra work needed minimal. Anyways I will have to trust you on this.

Before I close the issue, though - as a no issue - I feel like the comment in #242 actually contradicts the comments here. If there is an extra

[2016-09-12 19:46] cyouden commented on #234
@dsnet Here's a use case where it matters and this check bit me: when converting to JSON, `nil` maps to JSON `null` but `make([]int, 0)` maps to an empty array in JSON (i.e. `[]`), and there are cases where that is preferable (i.e. the consumers of my service don't need to make a null check if I can just return an empty array).

It was possible to get around by adding a check to see if the slice w

[2016-09-27 17:21] frasergraham commented on #225
The guidelines in Effective Go discourage the use of rows of stars or such as separators.

https://golang.org/doc/effective_go.html#commentary

Comments do not need extra formatting such as banners of stars. The generated output may not even be presented in a fixed-width font, so don't depend on spacing for alignment—godoc, like gofmt, takes care of that.

[2016-09-27 17:30] dsnet commented on #225
Thanks for pointing to that, @frasergraham. Closing this.

[2016-09-27 17:30] #225 closed

[2016-09-27 21:47] nathany commented on #151
It would be very nice if `golint $(go list ./... | grep -v vendor)` worked for consistency between go tools -- such as when creating a makefile. As mentioned in https://github.com/golang/lint/issues/151#issuecomment-129730670, golint doesn't like a list of packages.

[code]

[2016-09-27 21:50] nathany commented on #68
We were running into this issue when using the following:

[code]

Working around it with https://github.com/golang/lint/issues/151#issuecomment-150668728 for now.

[2016-09-28 17:57] jcsalem commented on #234
I've had this same issue with JSON conversion as well as some related problems with mocking tools.

`var x []int` and `x := make([]int,0)` don't have the same effect and golint should not make that suggestion at all.

Alternatively, `x := []int{}` and `x := make([]int,0)` do have the same effect and perhaps golint could make a suggestion there.

[2016-10-01 00:45] dsnet commented on #236
Fixed with 024c6ac8252128faebc65e3c7dfd295ed7e35674

[2016-10-01 00:45] #236 closed

[2016-10-01 00:45] dsnet commented on #222
Fixed with 024c6ac8252128faebc65e3c7dfd295ed7e35674

[2016-10-01 00:45] #222 closed

[2016-10-01 01:02] dsnet commented on #229
Fixed in 48c8655188557fb1ac819edd02d3694237eff1ad

[2016-10-01 01:02] #229 closed

[2016-10-02 18:22] voigt commented on #152
Just stumbled upon this issue...
Is this really unintended? Where is this specified? Im about 3 days into go and not quite sure where to get the information about specs...

Just had a look into the source:

In my opinion [this](https://github.com/golang/go/blob/master/src/go/ast/ast.go#L109) switch-case is not working properly. There its defined what prefixes to strip from the comment (like `" "`

[2016-10-04 04:05] vodolaz095 opened #246 "Unable to go get for go1.5 and fedora 23 linux"
[code]

The head of my local code is on 64229b89515c2a585c623c79a7ccdea71e8589ff

[2016-10-04 04:07] dsnet commented on #246
What version of Go are you using? We recently dropped support for Go 1.5 to clean up the code a little. It should work for Go 1.6 and up.

[2016-10-04 04:08] vodolaz095 commented on #246
the stack version from my favourite Fedora 24 linux(
[code]

[2016-10-04 04:09] dsnet commented on #246
That explains it. Are you able to upgrade to a newer version of Go? I'd rather not revert the change and support Go1.5 again.

[2016-10-04 04:21] vodolaz095 commented on #246
oh, it looks like upgrading is not so trivial.
i still have 23 version of Fedora linux and it has go 1.5

What latest revision of golint do works on Go 1.5.x?

[2016-10-04 04:23] dsnet commented on #246
You can try c6242afa6ced3be489e1184eb80bc2d85f1f5e7b.

[2016-10-04 04:25] vodolaz095 commented on #246
thanks

[2016-10-04 04:25] #246 closed

[2016-10-04 20:51] #234 closed

[2016-10-04 20:56] StabbyCutyou commented on #234
Thank you so much for accepting this!

[2016-10-04 21:07] dlsniper commented on #234
I'd like to point out that the declarations have different effects:
[code]

Output:
[code]

https://play.golang.org/p/tJjMp8Ixtq

I'd rather have this back but explained why ` var x []int ` should be preferred over ` x := []int{} ` or ` x := make([]int, 0) ` and when.

[2016-10-04 21:12] ScottMansfield commented on #234
@dlsniper they have different implementations but have the same behavior at a language level.

[2016-10-04 21:13] StabbyCutyou commented on #234
The point is that in some cases, the existing warning could produce incorrect code. This is a problem if you make, for example, passing go-lint a build requirement.

Leaving it up to the author to determine the right thing at the right time is a better solution.

[2016-10-04 21:13] dsnet commented on #234
That's pretty much what the original check did by suggesting that you "can probably use" one form or the other. The issue is that a one-line lint message isn't going to do justice in explaining how to distinguish between the two usages. Secondly, I'm not sure if it's lint's responsibility to teach this sort of thing.

[2016-10-04 21:26] cyouden commented on #234
@dlsniper My two cents: Leaving it in is an issue since there's no way to tell it that you meant to do that in that specific instance, so then you're training developers to ignore messages from the linter. Eventually, if there are enough ignored messages, the real ones get lost in the noise, which defeats the purpose. Since, as I understand it, there are no plans to make golint configurable (like

[2016-10-05 05:25] dsnet commented on #152
I have an internal fix for this coming that will be exported soon.

[2016-10-05 17:39] ramya-rao-a commented on #246
@dsnet Can we have a branch/tag that supports go 1.5.x ? This branch need not have any changes that you do in the master branch change post https://github.com/golang/lint/commit/a428635c58fe96360e83667e2e1a8343fc292bf0

This way, people who are still on Go 1.5.x can use [gopkg.in](http://labix.org/gopkg.in) to get a working version of golint

[2016-10-09 22:00] ns-cweber commented on #109
@dsymonds I ran into this via `type_`; it seems perfectly reasonable to have domain models with `Type`s in them, and the natural variable name (or unexported struct field) is `type_`. I also encountered this with `select_` over the course of building a database. I'm not sure how idiomatic it is to work around keywords by appending a `_`, but perhaps we could either support this idiom or prescribe

[2016-10-09 22:04] dsymonds commented on #109
It's more commonly accepted style for keyword-avoidance to happen by either truncating the word (e.g. using `typ`), or by adding another word (e.g. `selectQuery`). Golint won't flag either of those.

[2016-10-11 15:19] aahoughton commented on #239
Is it jumping the gun to say that the consensus is look for one of "DO NOT EDIT" or "Code generated by" in the first comment block?

[2016-10-13 23:04] dlsniper opened #247 "Error on putting a database/sql connection in Context"
Hi,

I wonder if golint could explicitly give an error when a https://godoc.org/database/sql#DB is placed in a context / retrieved from a context (or the popular: https://godoc.org/github.com/jmoiron/sqlx ).
I'm not sure if other long lived objects should be detected there.
What do you think?

[2016-10-17 13:07] danesparza commented on #152
I like @voigt 's suggestion to strip asterisk or whitespace.  I format with a leading tab (*gasp*)  and the linter complains that my comment is formatted incorrectly

[2016-10-20 12:57] alimoeeny opened #250 "go-lint panic"
Using emacs (spacemacs), when saving files, often (like %10 of times, but cann't figure out a pattern), I get this:

[code]

[2016-10-20 18:18] dsnet commented on #250
What version of `lint` is this? The presence of a "lin16.go" file indicates that this is an older revision. Can you upgrade to tip and see if the panic still occurs?

[2016-10-20 19:34] alimoeeny commented on #250
Thanks @dsnet
I was under the impression that I am on `tip` because the error itself suggests updating.
It is very possible that my editor was using a different `GOPATH`
I cannot confirm for sure since I changed a few things at the same time without checking step by step. I am closing this issue, will open if could confirm it happens on on `tip`

[2016-10-20 19:34] #250 closed

[2016-10-25 17:10] jdonboch opened #251 "No documentation for confidence values"
Currently there is no documentation on the effects of raising or lowering the confidence levels. It would be nice to know what is being checked at what confidence levels and the impacts of what would be gained/lost by changing the confidence value.

Would a PR be accepted if I compiled this in a markdown document or added it to the godocs somewhere?  It would add a contributing requirement that th

[2016-10-26 08:28] dsnet opened #252 "Check for invalid UTF-8 encoded strings in cutsets"
The `(strings|bytes).(IndexAny|LastIndexAny|ContainsAny|Trim|TrimLeft|TrimRight)` functions take an argument for a set of UTF-8 encoded characters to match on. In production code, I have seen incorrect uses of these functions where the user treats `chars` as simply a list of bytes, rather UTF-8 encoded characters.

Most likely, any invalid `chars` input is due to user error. The following is proba

[2016-10-28 10:35] jim-minter opened #253 "golint doesn't require comment for "exported" methods of unexported types"
In the following example, golint does not require a comment on foo.Bar().  This decision is implemented at https://github.com/golang/lint/blob/master/lint.go#L819-L821.  I think golint should require a comment, either for all "exported" methods of unexported types, or for methods of unexported types which constitute an exported interface, or for each method indicated in an exported interface defin

[2016-10-28 17:32] dsnet commented on #253
Hi. I believe this is working as intended. If you were to view this package on `godoc`, you'd see something similar to the following:
[code]

Precisely because the `foo` type is unexported, the `foo.Bar` method never gets shown on the documentation page. Thus, lint does not require the user to document that method. That being said, it may make more sense to have the `Bar` method defined in the `Fo

[2016-11-01 02:05] packrat386 opened #254 "Inconsistent treatment of /..."
The `go` tool and `golint` treat the `/...` suffix differently if they receive multiple arguments. I have a package with two nested packages `foo` and `bar`. I can pass both to `go test` at the same time, but not to `golint`

[code]

[2016-11-03 15:10] sdwarwick opened #255 "Warning on local variable names masking global variable names"
Golint doesn't flag on such global / local overloading conditions.  In the following case, it would have been a great help in finding a runtime error.
[code]

Flagging global/local variable overloading would seem like a natural for the linter!

[2016-11-06 12:06] sdwarwick commented on #255
Go tools vet has an implementation of this but is normally switched off.

[2016-11-06 12:06] #255 closed

[2016-11-10 18:52] alandonovan opened #256 "lint: spurious checkContextKeyType errors for ill-typed programs"
checkContextKeyType considers types.Invalid to be a basic type, which is true only in a technical sense.  This leads to spurious errors when checking programs that are incomplete or contain type errors.

[2016-11-11 11:01] dominikh commented on #252
@dsnet Is golint the right place for this check? AFAIK, golint is about style, not correctness. I'm currently trying to decide between sending a PR to golint and adding the check to my own `staticcheck`.

[2016-11-12 00:19] rakyll opened #257 "Warn when user passes a nil Context"
[context](https://golang.org/pkg/context/) package says,

Yet, Go users seem to think passing nil Contexts is valid behavior and expecting packages to handle the case where context is nil.

In order to be able to communicate the expectation from the user, warn if they pass nil.

[2016-11-12 22:35] dsnet commented on #252
I'm actually not sure. You are right that this is an issue about correctness, so it doesn't quite fit as a lint check either. According to golang/go#17780, the criterion for a vet check is: correctness, frequency, and precision.

When I looked over a large number of Go code inside Google, this mishap only occurred a few dozen times, so it probably doesn't hit the frequency requirements. If you wan

[2016-11-13 00:25] dominikh commented on #252
I've added the check to staticcheck. Running it against my corpus also yielded a very low number of results, so most likely not suitable for vet.

[2016-11-14 02:11] DavidGamba opened #258 "Question: don't use leading k in Go names. Why?"
I can't find any reference indicating why Golint warns when doing this. Some explanation would be greatly appreciated!

[2016-11-14 09:33] dominikh commented on #258
Idiomatic Go doesn't use [Hungarian notation](https://en.wikipedia.org/wiki/Hungarian_notation) and variable names shouldn't be prefixed with their intended use. For example, a constant should be named `foo` or `Foo`, not `kFoo` or `KFoo`.

[2016-11-14 15:53] DavidGamba commented on #258
Thank you for the answer. I have a `KBToMB` function and it drives me crazy to see the lint error not knowing why.

[2016-11-14 15:53] #258 closed

[2016-11-14 15:57] dominikh commented on #258
@DavidGamba  Are you using a recent version of golint? Looking at the code, it only matches on lowercase `k`, not uppercase `K`. It also doesn't match if the letter following the `k` isn't uppercase. So neither `KBToMB` nor `kbToMB` should get flagged.

[2016-11-14 16:12] DavidGamba commented on #258
@dominikh, I apologize, the actual name I have is `kBToMB` because it is unexported. I should be using `kbToMB` to avoid mixing case in [initialisms](https://github.com/golang/go/wiki/CodeReviewComments#initialisms).

[2016-11-14 18:43] dsnet commented on #252
I'm going to close this issue since the feature request fits neither `vet` nor `lint`. Thanks @dominikh for adding it to `staticcheck.`

[2016-11-14 18:43] #252 closed

[2016-11-14 21:18] dsnet commented on #257
Hey @dominikh, how frequent were failures caught by this check?

[2016-11-14 21:23] dominikh commented on #257
@dsnet I hadn't checked yet (frequency isn't a primary criterion for staticcheck, and my primary corpus is from pre stdlib context days).

I can start a run on a newer corpus tonight  and tell you the results tomorrow.

[2016-11-15 18:39] carlosmmelo commented on #254
I'm getting the same:

[code]

[2016-11-16 22:09] dsnet commented on #251
I appreciate the offer to create a separate document, but the major downside is that any external document will rot over time and the documented values will drift away from what the lint tool actually does as checks are added/removed and confidence levels are tweaked.

I believe the proper solution may be for the lint tool to print out what type of checks it can do and the associated confidence le

[2016-11-17 19:29] dsnet opened #259 "Flag unnecessary use of strings.Compare"
The documentation for `strings.Compare` says:

    clearer and always faster to use the built-in string comparison operators
    ==, <, >, and so on.

[2016-11-18 19:22] dsnet opened #260 "Flag useless strings.Replace where n == 0"
In the `strings` package: `func Replace(s, old, new string, n int) string`

Since replacing `n == 0` elements is pretty pointless, some programmers erroneously assume that this means replace all substrings. Instead, they should have used `n == -1`.

[2016-11-18 19:58] dominikh commented on #260
You're entering `staticcheck` territory here ([SA1010](https://github.com/dominikh/go-staticcheck#checks)) and it's a check I'm going to add myself, in symmetry with the aforementioned check.

[2016-11-28 09:05] guotie opened #262 "can i set some word not lint?"
such as Id, etc

[2016-11-28 19:13] dsnet commented on #262
Hi, I apologize, but I do not understand this issue report.

[2016-11-28 19:14] dsnet commented on #260
I agree. This is not a style related issue.

[2016-11-28 19:14] #260 closed

[2016-11-29 01:20] guotie commented on #262
such as Id , golint will warning it to be ID, I want golint ignore this word.

[2016-11-29 21:23] mgood commented on #186
Users that want more configurability may want to try [gometalinter](https://github.com/alecthomas/gometalinter) which wraps `golint` and a bunch of other tools that do static analysis of Go code. It has a bunch of options to control which tools you want to use, and can filter out warnings you find too noisy. There are also extensions for a bunch of popular editors to integrate with it.

I think it

[2016-12-01 18:14] steelbrain opened #263 "Disable/Enable specific Rules"
Hi everyone 👋

I've performed a github issues search before opening this issue and couldn't find an already existing one. `golint` is great but sometimes you want all the rules except one and it would be wonderful to specify it somewhere. Other modern linters like ESLint support it, would be good to have it supported in golint as well.

[2016-12-20 06:07] deitch commented on #263
Been looking for exactly that. E.g. I might not have proper docs on an exported function, but for a given project but might not matter.

[2016-12-22 07:06] mark-rushakoff opened #264 "Request: warn when converting string to byte slice when appending to byte slice"
I have come across some code that was appending a string literal or a string value to a byte slice, but converted the string to a byte slice inside the call to `append`.

As far as I'm aware, nothing is gained by converting these strings to byte slices for the sake of `append`.  I think this pattern is deserving of a lint warning. I'm not sure how common it is in the wild, but I believe if someone

[2016-12-24 19:35] ericflo commented on #263
I'm in the same boat - don't want to turn off **all** the rules, but the docs on exported functions won't be feasible for a codebase I'm working on.

[2016-12-26 22:52] kirillDanshin opened #265 "Invalid docs checking"
As you can see in https://github.com/avelino/awesome-go/pull/1239 golint on goreportcard is happy, but godocs have only `<name> -`. Some other packages have only `<name> ...` comments.

Can we somehow fix this?

[2016-12-26 23:00] dsnet commented on #265
I'm not sure what can be done. We can add "<name> -" and "<name> ..." to a list of abuses, but there are a near infinite number of ways people abuse the new rules to still write bad comments.

It seems to me that `lint` did its job such that the author did "<name> -" to silence `lint`. There's nothing the `lint` tool can do when people ignore `lint`'s suggestions.

[2016-12-26 23:50] shurcooL commented on #265
I agree, I think golint is behaving as expected, and it should not try to do anything differently. That type of comment is a minimum documentation that silences the warning. People won't do that by accident.

[2016-12-28 12:02] kirillDanshin commented on #265
I don't mean that it was accident.
we can create a flag that will disallow " -", " ..." etc.

[2016-12-28 21:43] dsnet commented on #265
Suppose we add a flag, how would that help the problem? Would goreportcard then pass in a custom list of common strings used to cheat the check? However, any blacklist chosen can always be cheated again. I don't see any way for this to be solved short of adding machine learning to recognize bad documentation.

I'm going to close this issue. I agree with the spirit of what this issue is trying to s

[2016-12-28 21:43] #265 closed

[2016-12-28 21:54] dsnet commented on #263
Hi, I'm on the fence about whether this should be done. In the mean time, I would like to gather more information about why this should be a feature.

My thoughts are:
* The purpose of `lint` is to encourage a consistent style of Go across the community. An individual developer may not agree with its style rules (I don't agree with some of them), but there is a strong benefit to consistency in the

[2016-12-28 21:59] dsnet commented on #262
Trying to whitelist a specific word is too specific of feature to provide, but I can imagine behavior of this sort to be covered by #263.

That being said, the style that the Go community has converged upon is to use "ID" instead of "Id" as a shorthand for the word "identity". I would highly recommend against ignoring this warning.

[2016-12-28 21:59] #262 closed

[2016-12-28 22:05] dsnet commented on #264
This check seems pretty reasonable to me. I should also mention that `copy` also has the special case where `strings` can be copied into `[]byte`.

[2017-01-05 17:23] Humper commented on #186
This is broken IMO.  gometalinter is much, much too slow to run on every editor save, and go lint has defaults that force me to litter my code with comments like `//MaxVehicleSize is the maximum size of a vehicle`, which not only makes the code harder to read, but also breaks automatic alignment of equals signs for go fmt.

[2017-01-05 17:25] mairanteodoro commented on #191
Hi, @agjs !

I don't know if you're still having this problems with this issue, but the solution to it is to add a comment right before anything that you export. For example, in your case, you could simply do this:

`// Salutation : here you tell us what Salutation is`
`// Printer : what is this?`
`// Greet : describe what this function does`
`// CreateMessage : describe what this function does`

[2017-01-11 20:50] briandowns opened #267 "Identify when 2 func arguments of the same type next to one another"
Identify when 2 func arguments of the same type next to one another for the purpose of suggesting that they be rewritten with a single type identifier.  I have the first pass for this working and will continue to clean it up if it's deemed worthwhile.

[2017-01-11 20:53] dsnet commented on #267
I have seen some legitimate bugs because of accidental swapping of the arguments. But the check your proposing will also have many false positives on functions like: `func Max(a, b int)`

[2017-01-11 20:55] briandowns commented on #267
Given
[code]
It would identify that but not identify the above example.

[2017-01-11 20:58] dsnet commented on #267
Oh sorry, I misread your original suggestion.

I think this seems reasonable. If you want to write it up and see what things it catches, we can see what things it flags. If it flags things that are reasonable, we should avoid this check, but nothing significant comes to mind.

[2017-01-12 10:42] ng-vu opened #268 "Golint should ignore files with `DO NOT EDIT` in comments"
I sometimes ran into `golint` errors on generated files and have to manually ignore those files from CI scripts.

Generated files often have `DO NOT EDIT` in comments. So I suggest to make `golint` smarter by ignoring files which have `DO NOT EDIT` in comments.

[2017-01-12 16:36] dsnet commented on #268
Closing as duplicate of #239.

[2017-01-12 16:36] #268 closed

[2017-01-12 17:59] williamh opened #269 "No golint binary is created"
I am running golang-1.7.4 Linux/amd64.
According to your readme, I should be able to do this:

[code]

then have a binary called golint.

This process completes with no error, but the binary is not created.

Thanks,

William

[2017-01-12 18:23] dominikh commented on #269
Quoting the top of the README:

[2017-01-12 18:30] williamh commented on #269
Ok, sorry about the noise, that works.

[2017-01-12 18:30] #269 closed

[2017-01-24 14:48] haya14busa opened #270 "proposal: Support multiple packages (and directories) as targets"
I'm proposing that golint should supports multiple packages as lint targets.

### Rationale

These days lots of packages use vendor feature and when we want to exlude vendor packages from `go test`,
we can do this as follow.

[code]
ref: https://github.com/golang/go/issues/11659#issuecomment-171678025

Also, when we want to run go vet, we can run like this in the same way.

[code]

However, golint

[2017-01-24 14:52] haya14busa commented on #270
I also opens pull-request #271 for implementation.

[2017-01-27 02:23] b0o opened #272 "Make `commonInitialisms` public"
This would be useful for cases where code is being generated automatically, e.g. using `go generate ...`.

I'm generating funcs/types/methods based on a YAML file; one of my type names is "sql" - It needs to be lowercase in my YAML file because some of the generated code is private, and I need to support other type names which are camelCase - I modify the case automatically.

Thus, in order to com

[2017-01-28 00:24] dsnet commented on #272
Hi. You mention that you would like access to `commonInitialisms` to presumably generate lint-happy Go code. Do you think that perhaps #239 is the root solution for your problem?

[2017-01-28 03:33] b0o commented on #272
@dsnet Well, my generator runs the code through GoFmt and produces some pretty decent looking code. The only thing GoLint has ever complained about was the capitalization thing. Not all generated files are going to be human-unreadable.

To answer your question, no, I don't think that #239 is the root solution for my problem - it feels like more of a bandaid.

[2017-01-28 09:49] chawlanikhil24 opened #273 "Save command always raises this error at every execution"
Error: spawn golint ENOENT
    at exports._errnoException (util.js:1026:11)
    at Process.ChildProcess._handle.onexit (internal/child_process.js:193:32)
    at onErrorNT (internal/child_process.js:359:16)
    at _combinedTickCallback (internal/process/next_tick.js:74:11)
    at process._tickCallback (internal/process/next_tick.js:98:9)

[2017-01-29 08:32] dsnet commented on #273
I don't think this is an error related to the `golint` program. Given that the stacktrace is for javascript, it seems that some other program written in JS is having trouble locating the `golint` binary (hence the ENOENT error). This seems to be an issue in that JS code and the environment that it is trying to invoke `golint` in.

[2017-01-29 08:32] #273 closed

[2017-01-30 03:32] dominikh commented on #264
@dsnet Do you want this in golint or in gosimple?

[2017-01-31 23:24] dsnet commented on #264
I think this is reasonable to include in golint since it is stylistically nicer to read `append(b, s...)` than it is to read `append(b, []byte(s)...)`.

[2017-02-01 11:30] morriswinkler-simplesurance commented on #208
+1
it uglifies blocks of constants

[2017-02-01 11:42] morriswinkler-simple opened #274 "Constants should be comentable in blocks"
I am referring to #208

[code]

translate perfectly fine into godoc go version go1.7.4 darwin/amd64

##### generated with godoc
<pre>const (
    <span id="Lame">Lame</span>  <a href="#Mobility">Mobility</a> = <a href="/pkg/builtin/#iota">iota</a> <span class="comment">// Immobile motion</span>
    <span id="Car">Car</span>                   <span class="comment">// Motion by car</span>
    <span i

[2017-02-01 11:54] opennota opened #275 "golint lies about missing comment"
test.go:
[code]

[code]

The constant HAS the bally comment, by Jove. The warning should be rephrased.

Previous issue (closed without discussion): https://github.com/golang/lint/issues/208

[2017-02-02 19:28] TheChuckster commented on #89
Another use case that is a very strong argument for removing this rule (it's actually an exception to another rule instead of a rule, but I digress):

Golang ORMs that infer database table schemas from structs (some, like `go-pg/pg`, are pedantic about the casing of `Id` vs `ID` when determining whether a field should be considered a primary key).

[2017-02-04 01:56] haya14busa commented on #270
fixed by #271

[2017-02-04 01:56] #270 closed

[2017-02-04 01:56] haya14busa commented on #254
@packrat386 @carlosmmelo
I think #271 should fix it.  Maybe it's closable now.

[2017-02-04 02:03] #254 closed

[2017-02-10 23:23] bcmills commented on #144
I'm planning to give this a try soon.

[2017-02-13 19:04] #144 closed

[2017-02-28 17:08] mdlayher opened #278 "golint should catch "errorFoo" and suggest "errFoo" instead."
Test case:

[code]

The first error is caught as expected.  The second one is unconventional and should probably be caught as well.  I'd expect something like:

[code]

[2017-03-08 09:29] Zanndorin commented on #263
@dsnet I might have some legacy code which I cannot refactor for reasons of time.

But the real reason I'm here is because I wanted to turn off the warning of not commenting public functions in the internal legacy application im coding in.

[2017-03-14 18:17] ereOn commented on #272
@b0o You are actually not alone and I have the exact same use case.

I would even go further and ask whether `lintName()` itself can be made public.

My generator happens to "create" CamelCased names from snake_cased ones (from a different language) and it's very difficult, if not impossible to make `golint` happy with those files if we can't access its internal logic for deciding when a name isn'

[2017-03-20 11:05] pierrre opened #280 "time.Parse() without time zone"
I think using `time.Parse()` without a time zone indicator is a bad practice.

In the documentation:
`In the absence of a time zone indicator, Parse returns a time in UTC.`
But that's probably not what the user want.

We should suggest to use `time.ParseInLocation()`.

FYI, in PHP the equivalent function parse with the "local" time zone.
I had to fix a related issue, in the code translated from PH

[2017-03-23 10:01] Dynom opened #281 "Incorrect redundant default suggestion"
The following produces this warning:
[code]

The definition:
[code]
However the default value of `interface{}` is `nil`, so the declaration is not redundant.

A work around:
[code]

[2017-03-29 07:54] paulistoan commented on #89
I also don't agree with this issue being closed. We strive to keep our code free of lint errors and now I'm being forced to rename Uid to UID, where the Go sources themselves use Uid: https://github.com/golang/go/blob/master/src/os/user/user.go#L23 Please reconsider. golint is a great tool, and we want to keep using it. Forcing our developers to ignore certain errors is a slippery slope.

[2017-03-29 17:39] thibaultfalque opened #282 "How can I have the list of all issue ?"
Hello,
How do I get a list of all the problems that can be generated by golint?

Thanks.

[2017-03-31 21:52] dlespiau opened #284 "Suggest using errors.New() instead of fmt.Errorf() when possible"
When the format string doesn't have any verb, one "should" use `errors.New()` over `fmt.Errorf()`. I can see two reasons:
  - There's no need to scan the format string for verbs in that case.
  - Use the `errors` package directly allows to remove some unnecessary dependencies on the `fmt` package, which is rather large.

I'm not sure whether this belongs to vet, lint (or neither!).

[2017-04-01 22:48] #282 closed

[2017-04-07 21:40] metaleap opened #286 ""error should be the last type when returning multiple items""
Except it *is*, "technically":

    func cmdTryStart (name string, args ...string) (runerr error, killerr error) {
        ....

Amusing edge-case, but goes to show you might wanna double-check that the function does in fact contradict the warning about to be uttered  ;)

[2017-04-10 17:03] gonzaloserrano commented on #263
I'm with @Zanndorin here, I want to disable the `exported function XXX should have comment or be unexported` check since I'm dealing with legacy code.

[2017-04-13 09:32] martinheidegger opened #287 "Error when a result is not used"
We had recently to work through our go code looking for all the errors that we ignored.

[code]

for example has a return type of `(written int64, err error)` but we subconsciously ignored the error without using `_` in a verbose manner. It would be good if we could have an error message that alerts us on that mishap.

[2017-04-13 20:47] ehouarn-perret opened #288 "Cannot get the package"
For some reasons some packages cannot be setup with `go get` like golint
It seems to be completely unrelated to the proxy or the firewall.
[code]
Same issue happens with guru, go-symbols, gorename, goreturns, golint and gotests.

[2017-04-22 02:36] StephenWeatherford commented on #263
And what if the community has an established code that does not follow some of the rules?  I'm working on an open source project which has about 1500 warnings about not using underlines (and underlines are used because it most closely matches their data model - and they have a confidence of 0.9).  It's unreasonable to expect all communities to have the exact same set of rules in all situations.

[2017-04-22 02:40] dominikh commented on #263
It's equally unreasonable to expect golint, which was written for a specific style of Go, to accomodate the needs of all communities that feel it necessary to deviate from that style.

You're free to fork golint and maintain a version specific to your community.

[2017-04-22 03:14] StephenWeatherford commented on #263
@dsnet specifically asked why the feature was needed, and why min_confidence isn't sufficient for particular use cases.  So I'm answering that question as requested.  Having more flexible options would make the tool more useful in general.

[2017-04-26 14:12] 834449164 commented on #288
I also encountered this problem!
C:\Users\Administrator>go get -u github.com/golang/lint/golint
package golang.org/x/tools/go/gcexportdata: unrecognized import path "golang.org/x/tools/go/gcexportdata" (https fetch: Get https://golang.org/x/tools/go/gcexportdata?go-get=1: dial tcp 216.239.37.1:443: connectex: A connection attempt failed because the connected party did not properly respond after a

[2017-04-28 07:54] 200sc opened #290 ""If block ends with a return ... " in chain of else ifs"
In this code:

[code]

(Yes the actions going on are meaningless)

In this case, golint will suggest that we drop the else as the last 'else if' case returns.
That seems incorrect, if an earlier branch was taken.

Interestingly this will not happen if there is a single else if case with a return, and it
also won't happen if we add a third else if case before the return case.

[2017-04-28 07:57] 200sc commented on #290
Sorry, looks like this has been issued before and is in progress? #181

[2017-04-28 07:57] #290 closed

[2017-04-30 09:22] ernsheong commented on #287
Yes, I second this. A lot of gotchas in go seem to happen because errors were not handled, and the linter isn't complaining about this.

[2017-05-02 23:21] ghost opened #292 ""should omit type * from declaration; it will be inferred", not it won't"
`var op Expr = Unary{'-', Literal{4}}`
Code works as expected, but:
`should omit type Expr from declaration of var op; it will be inferred from the right-hand side`

Hmm. ok... let's try it w/o:
Code doesn't work. `cannot use Binary literal (type Binary) as type Unary in assignment`
` var op = Unary{'-', Literal{4}}`

I should note that Expr is an interface.

[2017-05-03 04:43] dgryski opened #293 "Suggest using http.Status* constants for routines expecting HTTP codes (Error, Redirect, StatusText, etc)"
I believe this will help readability rather than making people look up obscure HTTP status codes.

Perhaps this could be limited to only codes not in a small "well known" list.  Maybe 200, 404, 500..

[2017-05-04 13:05] spenczar commented on #239
Now that the code generation header is formalized via https://golang.org/s/generatedcode, this seems tractable.

[2017-05-08 22:00] dsnet opened #294 "Suggest io.SeekXXX instead of os.SEEK_XXX"
We added the `io.SeekXxx` constants in Go1.7, we should suggest those constants when people try to use the `os.SEEK_XXX` constants.

[2017-05-08 22:44] dsnet commented on #287
Thanks for the report, but this is matter of correctness and not a matter of style. Thus, this does not belong in lint. Also there other tools that do this analysis: https://github.com/kisielk/errcheck

[2017-05-08 22:44] #287 closed

[2017-05-09 00:12] martinheidegger commented on #287
I am sorry but both writing styles are technically correct. The one I am mentioning here is about an optional error that is invisible which is arguably a bad coding style, am I wrong here?!

[2017-05-09 00:41] dsnet commented on #287
There are many legitimate cases where the error can be safely ignored. So flagging this as a matter of style would lead to too many false positives. A separate tool `errcheck` is useful when someone wants to actually vet every ignored error.

[2017-05-09 07:58] dan-compton commented on #187
You can also just use the -output flag to create valid names for the generated file(s)

[2017-05-12 16:56] ecc1 opened #295 "don't require doc comments for MarshalJSON and UnmarshalJSON"
just like String() and other methods for common interfaces, the comment is unlikely to be anything but boilerplate

[2017-05-14 19:31] KernelDeimos opened #296 "go-lint could catch possible race conditions"
This is definitely not something trivial - it would be a huge challenge to implement, especially considering this may sometimes be done on purpose. However, it would be extremely awesome of the linter could catch this kind of problem.

I propose this scenario as something the linter could realise:
Given two goroutines (A and B), and two channels (X and Y)
- X, a `chan bool` signal, is being used t

[2017-05-14 19:38] dominikh commented on #296
golint is concerned with idiomatic code, i.e. style issues. It doesn't check for correctness. As such, detection of race conditions doesn't belong in golint.

On a more general note, detecting race conditions statically is an incredibly hard problem, and tends to have false positive rates of around 50% and worse. Tools that implement such detection tend to require a lot of UX work to make using th

[2017-05-14 19:40] KernelDeimos commented on #296
Oh wow, it's that bad? Well at least I gained some insight by posting this - thanks!

[2017-05-14 19:46] dominikh commented on #296
https://cseweb.ucsd.edu/~lerner/papers/relay.pdf and http://web.stanford.edu/~engler/racerx-sosp03.pdf are two interesting papers on general static race detection, if I remember correctly.

[2017-05-15 19:41] dsnet commented on #296
Closing this since lint is (as Dominik mentioned) primarily about style, not correctness.

[2017-05-15 19:41] #296 closed

[2017-05-24 08:54] mh-cbon commented on #186
I can t quiet find the precise option to disable only that warning in gometalinter. All or nothing, for instance the balance is in favor of All, thus keeps being annoyed by undesired messages. Bad experience.

If you know how to disable that specific warning, even better, on portion of code only, drop a message here to explain that.

[2017-05-24 15:39] mgood commented on #186
This option allows you to filter out any messages you want to disable:
[code]
See `gometalinter --help` for a list of other options. If you have other questions about using gometalinter please file an issue on that project instead.

[2017-05-24 16:47] mh-cbon commented on #186
thanks!

[2017-05-24 20:57] Arcanemagus opened #297 "Reports invalid column for last line of file"
When linting the following code:

[code]
_Raw file: [linter-golint_GH97.zip](https://github.com/golang/lint/files/1027229/linter-golint_GH97.zip)_

`golint` reports an `expected '}', found 'EOF'` on line 3, column 16 which doesn't exist. It seems that instead of incrementing the line number and resetting the column count it is just adding to the column count when looking for the matching `}`.

_No

[2017-05-25 23:32] #239 closed

[2017-05-26 11:53] pravj commented on #294
@dsnet,

I would like to work on this.
If I'm allowed to do so, can you please hint me to start with this?

[2017-06-01 20:14] dmac opened #300 "Panics when run against generated file"
Normally golint ignores generated files, but it panics when all files passed to it are generated.

Minimal repro:

[code]

[2017-06-01 20:48] cespare commented on #300
/cc @dsnet

[2017-06-01 20:49] cespare commented on #300
I think #299 is a fix for this.

[2017-06-02 21:41] majimboo commented on #274
This works fine for me on 1.8.1.

[2017-06-02 23:41] #300 closed

[2017-06-06 10:12] nerd010 commented on #288
I also encountered this problem!
how to fix it?

[2017-06-06 11:46] dc0d opened #301 "if statement local variable in else clause"
`golint` shows a warning for an `if` statement local variable, used in it's `else` clause, when `if` returns, such as:

[code]

[2017-06-08 20:45] ronator commented on #253
Ouh, I learned something. THX

[2017-06-14 22:38] misham commented on #263
It's helpful to omit a rule in on a single line while preserving it for other cases in a project.  For example, when implementing callback functions for a library I don't need to add documentation to it or I'm dealing with legacy code.

It would be useful to be able to "turn off" a warning for a specific line by adding a comment, similar to how other linters behave.  This way, there is a comment i

[2017-06-15 16:40] zengming00 commented on #288
I also encountered this problem!
how to fix it?

[2017-06-15 18:01] dsnet commented on #288
I cannot reproduce this issue. Where are you running `go get -u -t -v github.com/golang/lint/golint` from? What operating systems are you using? What versions of Go?

Please don't just say "me too". It's not helpful.

[2017-06-16 02:21] 834449164 commented on #288
The problem is solved now.
VS Code can download it now, it's maybe a network problem before.

[2017-06-20 13:45] thebigjc opened #304 "Allow custom initialisms"
I find my code reviewers are constantly pointing out inconsistent initialisms in our code. Rather than waste our time on these, I'd like lint to find them, but the current list of initialisms is hardcoded. I'd like to allow lint to read custom initialisms from a file, ideally by convention so no special flags are needed.

Happy to write this up, but wanted to see if there would be support for it.

[2017-06-25 00:14] oshalygin commented on #89
This rule seems a bit crazy, can we reopen ?

[2017-06-25 00:18] oshalygin opened #306 "Use of `Id` ipo `ID`?"
This rule feels way too strict, its very common to have codebases with `Id` ipo `ID`, along with interaction across with ORMs.

Any chance this rule can be relaxed?

[2017-06-25 01:22] #306 closed

[2017-06-30 12:19] vetinari commented on #304
Check also for false positives, i.e. `DNs` ((LDAP )Distinguished Name, plural) is not something to flag when `DNS` (builtin) and `DNs` (local) are both in the list.

[2017-07-01 17:09] shurcooL commented on #294
FWIW, there's overlap with `staticcheck`, this check already exists there as:

SA1019 – Using a deprecated function, variable, constant or field

/cc @dominikh FYI.

[2017-07-03 03:19] therealplato commented on #239
I'm still experiencing linting alerts for generated files. I'm running go 1.8, my `$GOPATH.../lint` repo's `master` references `c5fb716` which appears current.

I have two files generated by `protoc-gen-go` whose header block matches the pattern`// Code generated ...\n\n... DO NOT EDIT."`
I expected that when I run `golint` in the folder with these, that i would not receive warnings, but actually

[2017-07-03 03:36] dsnet commented on #239
You must have an old version of protoc-gen-go. This was fixed in https://github.com/golang/protobuf/commit/47eb67eaf5cab63c58956d4d4ce86b03ad5eaa03

[2017-07-03 07:29] therealplato commented on #239
Thanks @dsnet. The code was certainly generated before that commit

[2017-07-04 04:06] CharXu commented on #288
But I have the same problem even if use VS Code to download

[2017-07-05 11:08] Quasilyte commented on #218
It is especially annoying for ADT-like interfaces.
`go/ast.Node` is one of this kind.
Suppose you have interface `Object` which has dozens of implementations,
each should implement `Type()` method.
Should I **really** write `Type returns underlying Object type` everywhere?

[2017-07-07 05:39] rana commented on #263
Linters are suggestions, not rules. I do observe the linters suggestions, but I sometimes disagree, such as using underscores can be helpful in some cases. Rules are enforced by the compiler and gofmt. Everything else is legal and optional; therefore, it would be nice to disabled some lint suggestions. The challenge is that if i don't conform to every golint suggestion the warnings become too nume

[2017-07-09 18:43] SamWhited opened #307 "Golint wants to elide type that can be inferred, but this breaks docs"
I found a number of closed issues about golint wanting to elide types that couldn't actually be inferred, but I'd like to dispute that this warning is necessary; it can actually be harmful (eg. it's not just a matter of style). For example, consider the following API:

[code]

If we `godoc foo` against this package, our common Foo vars are grouped under the Foo type. However, `golint` complains ab

[2017-07-09 18:48] SamWhited commented on #295
A little boilerplate is nice if it lets me know what interface `String()` is satisfying so that I can look up what will use that behavior (it is obvious what `String()` does from the name, it is not obvious what common thing might be using that); personally I think nothing else should be added to this whitelist (I'd go so far as to say that it should be removed).

[2017-07-21 17:48] rcorre opened #310 "Should receiver name be an underscore?"
I'm trying to implement a `NotFoundHandler` of type `http.Handler`, which has the following interface:

[code]

My implementation looks like the following:

[code]

As you can see, I could stand to use a simple function, but I am required to implement an interface.
In this case, my receiver is unused, and I believe the canonical go approach is to use a [blank identifier](https://golang.org/doc/eff

[2017-07-21 18:04] dsnet commented on #310
You are allowed to just elide the receiver name entirely in that case.

[code]

We could make the error nicer, though.

[2017-07-21 18:07] rcorre commented on #310
Thanks! I think I've seen that before but I'm not sure if its documented anywhere. Good to know. A nicer message would definitely help.

[2017-07-23 15:00] orange4glace opened #311 "for { select { break } } gives unreachable code"
[code]

[2017-07-24 01:48] dominikh commented on #311
golint does not look for or detect unreachable code; go vet does. And go vet does not flag the code you presented.

Please provide a full shell session with inputs and outputs that demonstrates the problem.

[2017-07-25 01:58] lsgrep commented on #89
This rule seems a bit crazy, can we reopen ?

[2017-07-25 02:08] dominikh commented on #89
This tool implements the guidelines laid out in https://github.com/golang/go/wiki/CodeReviewComments – not any alternative style. If your organisation uses a different style, you should maintain your own version of golint.

Additionally, the README has been saying this since the tool's public release:

And these are the conditions under which you can use the tool. If it doesn't fit your requiremen

[2017-07-27 13:50] artificerpi commented on #288
Same problem. go version: `go version go1.6.2 linux/amd64` `Ubuntu 16.04`

I fix it by removing `tools` folder and use `go get` to install the package again，hope it helps.

[2017-07-31 01:41] eunleem commented on #89
Is there an option to disable lint for this rule?

[2017-07-31 04:12] oshalygin commented on #89
This rule is super strict and mostly nonsensical.  It's one thing to make decisions on how code is styled and where to put parens, curlies, etc, its a whole different story to start enforcing a naming convention that has 0 roi and nothing more than an opinion that few share.

What @dominikh is saying is super valid though, this linter is used for Google, they built the language and they use golint

[2017-07-31 05:57] agnivade commented on #258
Hi,

I am bit by this rule. I have a kafka consumer and a partition consumer in my struct. I am naming them as `kConsumer` and `pConsumer`. But the `kConsumer` is throwing lint error. I would really want to avoid naming it `consumer` just to make it clear that its a kafka consumer.

What is the recommendation here ? Do I have to name it `kafkaConsumer` ?

[2017-08-01 10:45] abbot opened #312 "Complain about redundant error checks before return"
Golint should complain about this construct:

[code]

and suggest to replace it with

[code]

[2017-08-01 15:44] gaffo commented on #263
Another example I've hit recently is that the linter tells me that fields need to be named in a certain way, like Id should be ID, or no underscores in names.... however I'm working with other systems which have the opposite rules and already specified the protocol and naming so in this case these rules are just generating noise for me. If I was working in an entirely go world then I'd be totally

[2017-08-01 15:53] dominikh commented on #263
Third option: fork the tool, implement the rules of your organisation.

[2017-08-01 19:57] gaffo commented on #263
How open would you be to changes that make forks a bit easier but don't implement the feature in the core?

[2017-08-03 07:17] josephholsten commented on #253
@jim-minter @dsnet can this be closed?

[2017-08-03 07:21] josephholsten commented on #152
@dsnet did your fix for this get completed?

[2017-08-03 12:44] jim-minter commented on #253
I do think there is something to fix here: AFAICS golint currently does not require Bar() to be documented, either in the interface definition or in its implementation on a private type.  But NewFoo().Bar() could be called externally.  Perhaps the answer is requiring Bar() to be documented in the interface definition.

However it may also be that changing this is considered too intrusive, or that

[2017-08-05 11:19] trungphancode opened #313 "golint ./... not usable if golang.org itself has many lint errors"
I installed golint with "go get -u github.com/golang/lint/golint"
and it downloaded github.com/golang together with golang.org to my src. And running "golint ./..." gives a lot of errors under golang.org over which I have no control.

[2017-08-07 19:07] akalin-keybase opened #315 "Unexported type warning doesn't fire if golint is run on files w/o that type"
e.g. `foo.go` contains
[code]
and `bar.go` contains
[code]

then `golint .` will output
[code]
whereas `golint lint.go` doesn't output anything.

This is problematics for e.g. commit hooks that only run golint on changed files.

[2017-08-08 14:24] amingad opened #316 "Error: Segmentation fault (core dumped) make[1]: *** [gotool.golint] Error 139"
I am trying to build Go SDK in my Hyperledger Fabric , i am facing following issues related to 'golint'

make[1]: Entering directory `/opt/gopath/src/github.com/hyperledger/fabric/gotools'
Building github.com/golang/lint/golint -> golint
package go/types: unrecognized import path "go/types"
l^L^LSegmentation fault (core dumped)
make[1]: *** [gotool.golint] Error 139

Help me out .

[2017-08-08 18:39] gaffo commented on #263
@dominikh ^?

[2017-08-08 18:43] dominikh commented on #263
@gaffo that's really a question for @dsnet, the maintainer of golint. But you'd also have to be more specific than "changes". What specific changes would make forks easier?

[2017-08-08 19:34] gaffo commented on #263
I was just checking if you guys were antithetical to them. It likely depends on how the main is structured if I can get a list of issues back before they're printed out then it'd be easy to do. if that's all tied up in main I'd likely just want to decouple the main from the error scanner library style.

[2017-08-08 19:44] dsnet commented on #263
I may have been the last person to do significant work on this repo, but I don't own this. In fact, I don't think `lint` has a clear owner. For this reason, I don't believe that I am the right person to make calls like this.

That being said, I am ambivalent about this feature. I can see how it helps people since some warnings are really annoying (and my opinion is that they should just be removed

[2017-08-08 21:29] gaffo commented on #263
Okay... that's enough willingness to think about it that I'll look into it.

[2017-08-08 23:16] gaffo commented on #263
The main does return a list of Problems tho which is what I think I need for a fork I believe

[2017-08-09 05:50] jokeyrhyme opened #317 "proposal: warn when zero values make explicit initialisation unnecessary"
Proposal: `golint` could warn when initialising a value is unnecessary, i.e. when the zero value for the type is effectively equal to the explicitly initialised value

As someone new to the language, I have not memorised which types have a zero value and what those zero values are

I will look these up now that I know about them, but `golint` could help me and others in this case

[code]

[2017-08-10 05:41] curio77 commented on #301
I was just about to report that too, so +1!

[2017-08-10 10:50] dc0d commented on #301
At least there should be this option to justify a certain usage with a comment (such as in `_ "some-package"` imports).

This way we can help the linter and ourselves. Otherwise we have to have lots of warnings when they are not really warnings and that makes the linter messages meaningless.

[2017-08-12 15:47] Jesse-V commented on #152
@dsnet This issue appears to be outstanding in Golint 0.0+git20161013.3390df4-1, which is the latest version in Debian Stable (Stretch). It's a little annoying inside Atom; I look forward to the fix!

[2017-08-16 17:52] rakyll commented on #238
We want golint to be able to report third party library deprecations as well. I don't think (1) is something we should go with. The ecosystem wants to be able to break APIs but our tools don't do a good job helping the authors communicating these breakages.

I tried to prototype (2) a while ago by modifying the loader package and I personally didn't like the solution, because all of a sudden packa

[2017-08-16 17:58] dominikh commented on #238
A couple of thoughts:

1. Is golint really the right place for this check? As I understand it, golint is primarily about style. Is using deprecated identifiers a style issue?
2. staticcheck includes a check for use of deprecated identifiers, so feel free to copy from it. Be warned, though, it depends on some parts of my framework that you'd have to replace.
3. I'd also be concerned with forcing go

[2017-08-16 18:37] JKobyP commented on #203
Since this hasn't been fixed, should it be reopened?

[2017-08-16 18:40] cespare commented on #203
This is a duplicate of #181. No need to keep multiple issues open for the same bug.

[2017-08-16 18:43] JKobyP commented on #203
#181 is a PR, not an issue

[2017-08-16 20:04] stapelberg commented on #238
Note that using the loader doesn’t force us to work on entire packages. Via the CreatePkgs field in loader.Config, we can specify an individual file in what the loader calls an ad-hoc package.

Also note that we only load and type-check direct dependencies, not all dependencies.

[2017-08-16 20:36] dominikh commented on #238
You can create ad-hoc packages, but if you depend on them to type check without error (which you might not), then the ad-hoc package needs to contain all files of the package.

In order to type-check direct dependencies successfully (which, again, may not be necessary just for the sake of parsing deprecation comments), you need to check dependencies recursively, or build your own version of go/loa

[2017-08-16 20:38] dominikh commented on #238
Though I do think you want to load transitive dependencies, to be able to flag deprecated uses in code like this:

[code]

where `A.Fn` returns a type from package B (or C or ...) and where `Foo` is deprecated.

[2017-08-16 21:07] stapelberg commented on #238
Fair point.

The remaining question is about whether the slow-down is acceptable in golint. How do we make that decision?

[2017-08-17 01:43] hitxiebing commented on #186
how do it?

[2017-08-17 12:02] stapelberg commented on #238
I sent PR #318 so that we have some actual code to discuss this over (I find that always helps).

Regarding the slow-down, here are numbers on my workstation of running `go test github.com/golang/lint`:

before:
[code]

after:
[code]

Thoughts?

[2017-08-17 19:59] dominikh commented on #238
My opinion is that this check, in this tool, isn't worth it. It's 30 times slower, which will piss off people who use golint in their editors. It cannot operate on invalid input anymore (a clear change in behaviour). And it isn't a style issue and hence out of scope.

The following advice is clearly biased, but I'd recommend people use my staticcheck if they want to check for deprecated identifier

[2017-08-18 15:17] jnicholls commented on #263
I agree on the ability to disable certain lints.  Ironically my use case is also the uncommented exported symbols, like a lot of others on this thread.

[2017-08-18 15:28] jnicholls commented on #263
On that note, I'm currently instead using `gometalinter` and using the `--exclude` regexp capability to ignore these specific warnings.  This is working well, and may be useful for others on this thread.

[2017-08-22 14:33] MusikPolice commented on #89
@dominikh regardless of what the README says, the statement

seems antithetical to this tool's purpose. The entire point of a linter is to warn a programmer that they might be introducing a subtle error into their code, and should consider changing their approach.

As @paulistoan pointed out, telling programmers to ignore some warnings but not others is a slippery slope towards ignoring the linter

[2017-08-22 15:00] dominikh commented on #89
There's not much left for me to say that hasn't already been said, but I'll address some of your points:

Virtually all of golint's check do nothing to enforce correctness or avoid bugs. It is purely a style checker, and it enforces a particular style. Suppressing the warnings would mean not following the style.

In the majority of cases, they're not false positives. They're correctly flagging sty

[2017-08-25 13:29] omarkohl opened #320 "exclude vendor dir from matching `...`"
Go 1.9 changed the behavior of the Go tools such as "go test" and "go vet" to ignore the vendor directory when using triple dot (...) . See golang/go#19090

How about doing the same thing for golint? It makes sense to have different Go tools behave similarly.

[2017-08-25 13:32] omarkohl commented on #320
It looks like it is addressed in #303 . Maybe this ticket could be considered as a proposal to make it the default behavior instead of an optional flag.

[2017-08-25 23:11] toxeus commented on #151
@dsymonds wrote:

With the release of Go 1.9 the `go` tool is intentionally skipping `vendor` dirs. See the [release notes](https://golang.org/doc/go1.9#vendor-dotdotdot) and the [discussion on github](https://github.com/golang/go/issues/19090). I suggest that for the same reason `golint` should also intentionally skip `vendor` dirs.

[2017-08-29 21:41] nathany commented on #151
see #320 as this issue is closed

[2017-08-29 21:56] nathany commented on #320
Making the default behaviour to ignore vendor would match Go 1.9, which is preferable in my mind.

Here are a few reasons for making `golint ./...` ignore the vendor directory by default.

1. Consistent with Go 1.9 behaviour for `go test`, `go list`, etc.
2. As per https://github.com/golang/go/issues/19090, a solution that doesn't rely on Unix-specific tools (xargs) is beneficial for Windows users

[2017-08-29 23:04] toxeus commented on #151
@nathany Github issues are like doors - it's possible to re-open them when they're closed 😉

The reason why I've commented in this issue is because @dsymonds has explained in this issue that one goal for `golint` is aligning its CLI with `go` tool's CLI.

[2017-08-30 20:22] joelpresence opened #322 "golint should not require concrete implementations of interface methods to also be commented"
Example:
[code]
The golint warning "exported method Name should have a comment or be unexported" is false and misleading IMHO because `Name` was already documented in the `Person` interface.  By forcing me to also document it in `PersonImpl`, golint is actually making it harder to keep comments and style consistent in my code because now I'd have to maintain the same identical `Name` method header

[2017-08-30 23:20] greendrake opened #323 "ID is not necessarily an abbreviation / Freudian code"
The linter currently requires variables like `GatewayId` to be named `GatewayID` because of [this](https://github.com/golang/lint/blob/master/lint.go#L754).

The thing is, "Id" in cases like the above is not an initialism/abbreviation/acronym. It is just a _shortening_ from "identifier" or "identification" — not "identity document" or any other two-word term.

I therefore suggest removing `ID` fro

[2017-08-30 23:50] dominikh commented on #323
Duplicate of #89.

[2017-08-31 21:29] joelpresence commented on #258
I am also having issues with this where I am parsing an array of strings of the form `[]string{"key1", "value1","key2","value2"}` for example:
[code]
I am clearly **NOT** using Hungarian notation here - the `kOrV` means `keyOrValue` so why am I being falsely penalized by golint here?

This is clearly a bug in golint in this case, or at best an annoying false positive.  Is there any way we can fix

[2017-09-09 17:04] jirawat050 opened #331 "diffrence include and require?"

[2017-09-11 17:53] Cosby86 opened #333 "Custom rules check"
Hello all
I would like to check in the code for any fmt.Println and for any variables with first capital letter in a private method. Is there any way to do it..?

Thanks

[2017-09-12 05:58] jirawat050 opened #334 "difference for _ and for i"

[2017-09-12 07:55] mvdan commented on #331
What is this issue supposed to be? What bug are you trying to describe? Please give a small Go program to reproduce the issue you're seeing, steps to reproduce and what you were expecting.

For questions, see https://github.com/golang/go/wiki/Questions.

[2017-09-12 07:55] mvdan commented on #334
What is this issue supposed to be? What bug are you trying to describe? Please give a small Go program to reproduce the issue you're seeing, steps to reproduce and what you were expecting.

For questions, see https://github.com/golang/go/wiki/Questions.

[2017-09-13 01:46] st0012 opened #335 "Go lint doesn't recognize type alias"
In Go 1.9, you introduced type alias which allow us to write something like

[code]

But currently `golint` seems having trouble recognize this new syntax and will show:

[code]

And the linter will stop its execution.

Have you fixed this yet? Or how can I fix it?

[2017-09-13 01:47] dominikh commented on #335
You have to build golint with Go 1.9 for it to understand Go 1.9 syntax.

[2017-09-13 02:11] st0012 commented on #335
@dominikh It works, thanks!

[2017-09-13 02:11] #335 closed

[2017-09-19 08:01] twpayne opened #339 "feature request: warn on loss of error information"
I occasionally see code from Go newbies that discards error information, e.g.

[code]

In this example, the error returned by the function does not depend on the tested error, or any other parameter. The loss of error information makes debugging very hard as there is no indication of the underlying cause. This is particularly insidious in library code where such functions "dead end" diagnosis.

Th

[2017-09-19 10:13] #312 closed

[2017-09-23 14:56] jirawat050 opened #340 "How to code upload many image?"

[2017-09-28 16:38] Yndoendo commented on #89
I also request this be reopened. Even **Go** provided packages that void the strict naming conventions.

According the to the syntax structure ```HttpOnly``` should be ```HTTPOnly``` and yet ```http.Cookie``` defines the variable name as ```HttpOnly``` instead of ```HTTPOnly```, ref [https://golang.org/pkg/net/http/#Cookie](https://golang.org/pkg/net/http/#Cookie).

**Go**, itself, does not follow

[2017-09-28 21:48] oshalygin commented on #89
agreed @Yndoendo , I get the intent here but this rule is far too strict and if the **Go** codebase doesn't comply and has no roadmap for complying, why have this erroneous warning?

The tool is amazing, identifies a ton of issues, but having these proliferate is painful.  At least provide a way to configure this?

[2017-09-28 22:03] dominikh commented on #89
The Go code base violates almost every rule found in golint. If "Go doesn't follow the rule, so let's remove the rule" was a valid argument, we should just delete golint.

[2017-09-29 07:33] lap00zza opened #342 "Permission denied while installing"
I am trying to install lint as part of vscode-go extension. While installing I get a permission denied at the end. How can I fix it? I am attaching some screenshots below:

![1](https://user-images.githubusercontent.com/8621583/31005401-28631164-a516-11e7-8dee-645ecf2879de.png)
![2](https://user-images.githubusercontent.com/8621583/31005411-301a4fb2-a516-11e7-8cb5-0df3c1fbf30d.png)

## Addtional i

[2017-09-29 15:06] oshalygin commented on #89
fair point @dominikh !  I guess the reason for the issue thread is that many feel that variable naming restrictions are pretty extreme, aside from the obvious capital/lowercase naming convention in regards to access.

I get the sense that the team feels strongly to keep this in.  I would just lean toward a config object that allows consumers some leeway?

[2017-09-29 16:15] MusikPolice commented on #89
I don't disagree that the project as it stands presents a great ideal to strive for in terms of coding conventions. My complaint is that it isn't reasonable to expect a large existing code base to conform to all of these rules. As an example, I work on Mattermost on a day to day basis, which is one of the largest Golang projects on Github, and this tool lights our code up with warnings.

The proje

[2017-10-05 22:33] #310 closed

[2017-10-11 21:18] bradobro commented on #89
I'm firmly believe, "`gofmt` isn't anybody's favorite format, but it's everybody's favorite too." Gofmt's strict no-dials approach make Go, IMHO, just about the easiest language in which to read complex code written by others.

I want to feel the same way about `golint`, but I think it has several fundamental problems:

1. There's no way to make an exhaustive list of all current and future Acronym

[2017-10-12 01:07] bradobro commented on #89
I'm firmly believe, "`gofmt` isn't anybody's favorite format, but it's everybody's favorite too." Gofmt's strict no-dials approach make Go, IMHO, just about the easiest language in which to read complex code written by others.

I want to feel the same way about `golint`, but I think it has several fundamental problems:

1. There's no way to make an exhaustive list of all current and future Acronym

[2017-10-14 07:07] Acidic9 commented on #186
**For command line:**

`gometalinter --exclude="\bexported \w+ (\S*['.]*)([a-zA-Z'.*]*) should have comment or be unexported\b"`

**For VSCode settings.json:**

[code]

[2017-10-15 07:59] nilsanderselde commented on #258
I'm writing a web server for a site which serves information about a phonetic orthography I've made for English for fun. In one template processing file I have these vars:

[code]
(Most of the phonemes in the above code were omitted here to conserve space.)

I am told, 'don't use leading k in Go names; var kIPA should be iPA'.

If you look at the pattern here, I am clearly not using Hungarian nota

[2017-10-16 09:12] jirawat001 opened #349 "how to use golang to webservice"

[2017-10-16 11:58] #349 closed

[2017-10-16 12:32] EVODelavega commented on #311
I got the same output, but it's not a bug. `select` seems to behave like `switch`, a break doesn't affect the outer `for` loop. The solution to this would be to either:

* use a label for your loop and use a label break
* return instead of break, using either a defer or just moving the cleanup stuff to the case.

My specific use case was a select with a context (`case <-ctx.Done():`) and a buffere

[2017-10-16 14:30] kristofferingemansson opened #350 "False positives with custom errors-package and errors.New(fmt.Sprintf(..."
When using a custom errors-package implementing `New(...)` in conjunction with `fmt.Sprintf(...)` golint incorrectly suggests usage of `fmt.Errorf(...)` instead.
A custom errors-package will most likely return an error of different type than "errorString" of the core errors-package and hence `fmt.Errorf(...)` will not be equivalent.

Sample code:
[code]
Output:
[code]

Expected:
No warnings

[2017-10-20 16:23] jirawat001 commented on #350
i not sure.i can't not fuction errors

[2017-10-25 07:49] sttts commented on #210
There is the valid use-case that an unexperted struct implements multiple interfaces, e.g. Reader and Writer. If this pattern is forbidden, we end up defining union interfaces like ReaderWriter. This is ugly.

[2017-10-25 07:55] dominikh commented on #210
@sttts can you elaborate, for example with a concrete example?

If you're suggesting that this

[code]

followed by the client type-asserting, at runtime, to Reader or Writer

is better than this

[code]

then I have to disagree.

[2017-10-25 12:10] sttts commented on #210
`constructor` must be `Constructor` for it to make sense.

ReaderWriter is a bad example as they are concepts that appear as a pair often. Instead, something like `Callback`, `Reader`, `Order`, all completely unrelated, but implemented by `*someType`. I don't want `CallbackReaderOrder` as a generic interface outside of the package for obvious reasons. So maybe the best solution is to define a `Som

[2017-10-25 12:17] dominikh commented on #210
Yes, that would be the canonical approach, if you can't export the concrete type.

[2017-10-27 09:32] jucie commented on #109
I think golint should be aware of Go keywords.
"func parameter true_ should be true" does more harm than good.

[2017-10-30 04:25] HeChuanXUPT commented on #288
same
go version go1.8.3 windows/amd64
$ go get github.com/golang/lint
package golang.org/x/tools/go/gcexportdata: unrecognized import path "golang.org/x/tools/go/gcexportdata" (https fetch: Get https://golang.org/x/tools/go/gcexportdata?go-get=1: dial tcp 216.239.37.1:443: connectex: A connection attempt failed because the connected party did not properly respond after a period of time, or establi

[2017-10-30 06:45] abourn opened #352 "Request: warn when passing a struct with no exported fields to various json methods"
For example, passing a struct with unexported fields to `json.Marshal()` will return `{}`, despite the fact the struct's fields are populated.

It would be nice if the linter could detect when a struct with unexported fields is passed to methods requiring exported fields and suggest it as a potential error!

[2017-10-30 08:27] sttts commented on #210
A local super interface doesn't work unfortunately:
[code]
This fails because `Foo()` is defined twice in `C`. So we are left with a public struct and private fields.

[2017-11-07 02:18] lsianturi commented on #191
Here is an example, for whoever who might start learning Go

// Vertex blablabla
type Vertex struct {
	X, Y float64
}

// Abs blablaba
func (v Vertex) Abs() float64 {
	return math.Sqrt(v.X*v.X + v.Y*v.Y)
}

[2017-11-08 06:14] parikshitsm commented on #171
Hello, Probably this thread is quite older one.
But I found this relevant to my current application error. While making the fabric-sdk directory am getting below errors. Can someone please help to resolve.

$ mingw32-make
Installing dependencies…
Checking committed files for SPDX-License-Identifier headers …
All files have SPDX-License-Identifier headers
Running linters…
Checking ./pkg/config
C:\P

[2017-11-13 20:22] rameshvk opened #354 "False positive report of "drop this else and outdent its block""
Running golint against the following code causes the error `if block ends with a return statement, so drop this else and outdent its block` on L17.

This is spurious.  What is strange is that all the "if" clauses seem to be needed for this error to reproduce.  I tried removing any one of the if clauses and the error does not happen.

[code]

[2017-11-13 20:24] rameshvk commented on #354
Note: the actual code here is obviously not doing anything useful but it is a stripped down version of a real function in my codebase.  Happy to provide a link to the real code if needed.

[2017-11-13 20:38] delsvr commented on #17
`The point of a common style is that it overrides personal preference.`

This isn't just a question of style, though. These examples are functionally different. The snippets by @jgroeneveld  and @jriquelme limit the scope of variables to the `if` block. The linter enforces polluting the parent scope.

At any rate, there is not even any indication that your example is the "usual Go style". Just see

[2017-11-28 17:38] kevinburke commented on #354
Another snippet from x/crypto/openpgp/keys.go:

[code]

yields:

[code]

[2017-11-28 17:42] kevinburke commented on #354
Here's the code in question. I'm confused why the last block is an `*ast.ReturnStmt`.

[code]

[2017-11-28 17:42] kevinburke commented on #354
cc @dsymonds

[2017-11-28 18:05] rameshvk commented on #354
@kevinburke thanks for that snippet.  I don't understand the code well enough but would hazard a guess that the problem is that the `ignore` flag is not getting propagated to all the else's in a chain because of the early return via `if ignore[ifStmt] { return true }`.

Just moving that if-clause to be after the next if-clause (i.e. swapping that and the next if-clause) causes my error to go away.

[2017-11-28 18:16] rameshvk commented on #354
Also confirmed that swapping the two if-clauses like so:

[code]

fixes both false positives reported on this thread.

I don't think the project is actively maintained though or I would go through the hassle of signing the CLA to get the fix in.

[2017-11-28 18:18] kevinburke commented on #354
I've signed the CLA, do you mind if I submit it and give you credit?

[2017-11-28 18:19] rameshvk commented on #354
@kevinburke go for it -- no credit needed!

[2017-11-28 19:44] bcmills commented on #354
Consider this input (courtesy of @alandonovan):

[code]

Today, it exhibits the wrong-line warning as reported.

Now consider the equivalent structure expressed using a Block rather than a nested IfStmt:

[code]

Ideally, lint should produce a set of suggestions that lead to the same (warning-free) end state for the two equivalent lexical structures.  That would imply a warning along the lines of